<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group mt-3">
    <label for="email-address">Adresse email</label>
    <div class="input-group">
      <input id="email-address" name="email-address" formControlName="email" type="email" class="form-control" placeholder="nom@example.com" required/>
      {{ registerForm.get("email")?.errors | json }}
    </div>
    <label for="password" class="mt-4">Mot de passe</label>
    <div class="input-group">
      <input id="password" type="password" name="password" formControlName="password" class="form-control" placeholder="8 caractères minimum" required/>
    </div>
    {{ registerForm.get("password")?.errors | json }}

    <label for="confirm-password" class="mt-4">
      Confirmer mon mot de passe
    </label>
    <div class="input-group">
      <input id="confirm-password" type="password" formControlName="confirmPassword" name="confirm-password" class="form-control" placeholder="répéter le mot de passe" required/>
    </div>
    <div [hidden]="!registerForm.errors?.['mismatch']">
    </div>
    {{ registerForm.errors?.['mismatch'] | json }}
    <div class="form-check mt-4">
      <input
        class="form-check-input"
        name="checked-checkbox"
        type="checkbox"
        value=""
        id="checked-checkbox"
        checked
      />
      <label class="form-check-label" for="checked-checkbox">
        J'accepte les termes et conditions
      </label>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="submit" class="btn-success mt-4">C'est parti !</button>
    </div>
  </div>
</form>
