<section class="order-recap-card">
  <h3><b>Votre commande</b></h3>
  <div class="ad-details">
    <div>
      <img src="{{ ad.firstArticlePictureUrl }}" alt="photo de l'article" />
    </div>

    <div class="name-and-description">
      <p class="with-custom-scrollbar">
        <u>{{ ad.title }}</u>
      </p>
      <p class="with-custom-scrollbar">
        {{ ad.articleDescription }}
      </p>
    </div>
  </div>
  <div class="horizontal-line"></div>
  <div class="total">
    <p>Total</p>
    <p class="with-custom-scrollbar">{{ ad.price }} €</p>
  </div>
</section>
