.remove-icon {
  width: 27.25px;
  height: 27.25px;
}

.add-text {
  color: rgba(0, 0, 0, 0.38);
}

#remove-form-icon {
  padding-left: 0rem;
}

@media (min-width: 768px) {
  .meeting-display-width-1 {
    width: 72.5%;
  }

  .meeting-display-width-2 {
    width: 56%;
  }

  #remove-form-icon {
    justify-content: flex-start !important;
  }
}
