@for (preferredMeetingPlace of preferredMeetingPlacesDisplay; track preferredMeetingPlace.name; let i = $index) {
  <div id="preferred-meeting-places-list">
    <div class="row justify-content-center mt-5">
      <div [ngClass]="{
        'col-md-7 col-10': preferredMeetingPlacesDisplay.length > 1,
        'col-md-9 col-12': preferredMeetingPlacesDisplay.length <= 1,
        'd-flex align-items-center': true
      }">
        <address class="meeting-place mb-0">
          <!-- Address number -->
          <strong class="number">{{ i + 1 }}</strong>
          <!-- Address name -->
          <strong class="address-name">{{ preferredMeetingPlace.name }}</strong>
          <!-- Address details -->
          <div class="address-detail">
            {{ preferredMeetingPlace.street }}<br>
            {{ preferredMeetingPlace.postalCode }} {{ preferredMeetingPlace.city | titlecase }}
          </div>
        </address>
      </div>
      @if (preferredMeetingPlacesDisplay.length > 1) {
        <div class="col-2 d-flex align-items-center justify-content-end">
          <a type="button" id="remove-address-icon" (click)="deletePreferredMeetingPlace(i)">
            <img class="remove-icon" src="assets/icons/buttons/remove-grey.webp" alt="icône supprimer">
          </a>
        </div>
      }
    </div>
  </div>
}

@if (isAddButtonClicked) {
  <div [formGroup]="preferredMeetingPlaceFormGroup" id="preferred-meeting-places">
    <div class="row">
      <div [ngClass]="{
        'col-12 col-md-12': preferredMeetingPlacesDisplay.length <= 0,
        'col-10': preferredMeetingPlacesDisplay.length > 0
      }">
        <div class="row justify-content-center mt-5">
          <div class="col-12 col-md-8">
            <label for="name">
              <strong class="number">{{ preferredMeetingPlacesDisplay.length + 1 }}</strong>
              &nbsp;Nom
            </label>
            <input type="text" formControlName="name" id="name" name="name" class="form-control" placeholder="Nom du lieu" required/>
            @if (preferredMeetingPlaceFormGroup.get('name')?.errors && (preferredMeetingPlaceFormGroup.get('name')?.dirty
            || preferredMeetingPlaceFormGroup.get('name')?.touched)) {
              <div class="error-msg mt-2">
                <div [hidden]="!preferredMeetingPlaceFormGroup.get('name')?.errors?.['required']">Veuillez renseigner un nom de lieu</div>
                <div [hidden]="!preferredMeetingPlaceFormGroup.get('name')?.errors?.['alreadyExists']">Ce nom de lieu existe déjà</div>
              </div>
            }
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col-12 col-md-8">
            <label for="street">Rue</label>
            <mapbox-address-autofill>
              <input type="text" formControlName="street" autocomplete="address-line1" id="street" name="street" class="form-control"
              placeholder="Numéro et nom de rue"required/>
            </mapbox-address-autofill>
            @if (preferredMeetingPlaceFormGroup.get('street')?.errors && (preferredMeetingPlaceFormGroup.get('street')?.dirty
            || preferredMeetingPlaceFormGroup.get('street')?.touched)) {
              <div class="error-msg mt-2">
                <div [hidden]="!preferredMeetingPlaceFormGroup.get('street')?.errors?.['required']">Veuillez renseigner une rue</div>
                <div [hidden]="!preferredMeetingPlaceFormGroup.get('street')?.errors?.['alreadyExists']">Cette adresse a déjà été enregistrée</div>
              </div>
            }
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col-6 col-md-4">
            <label for="postal-code">Code postal</label>
            <input type="text" formControlName="postalCode" autocomplete="postal-code" id="postal-code" name="postal-code"
            class="form-control" required/>
            @if (preferredMeetingPlaceFormGroup.get('postalCode')?.errors && (preferredMeetingPlaceFormGroup.get('postalCode')?.dirty
            || preferredMeetingPlaceFormGroup.get('postalCode')?.touched)) {
              <div class="error-msg mt-2">Veuillez renseigner un code postal</div>
            }
          </div>
          <div class="col-6 col-md-4">
            <label for="city">Ville</label>
            <input type="text" formControlName="city" autocomplete="address-level2" id="city" name="city" class="form-control" required/>
            @if(preferredMeetingPlaceFormGroup.get('city')?.errors && (preferredMeetingPlaceFormGroup.get('city')?.dirty
            || preferredMeetingPlaceFormGroup.get('city')?.touched)) {
              <div class="error-msg mt-2">Veuillez renseigner un code postal</div>
            }
          </div>
        </div>
      </div>
      @if (preferredMeetingPlacesDisplay.length > 0) {
        <div class="col-2 d-flex align-items-center justify-content-end" id="remove-form-icon">
          <a type="button" (click)="deletePreferredMeetingPlaceForm()">
            <img class="remove-icon" src="assets/icons/buttons/remove-grey.webp" alt="icône supprimer">
          </a>
        </div>
      }
    </div>
  </div>
}
@if (preferredMeetingPlacesDisplay.length < 5) {
  <div class="d-flex justify-content-center mt-5">
    <a type="button" id="add-address-icon" (click)="addPreferredMeetingPlace()">
      <p class="add-text">
        <img class="add-icon" src="assets/icons/buttons/add-orange.webp" alt="icône ajout">
        &nbsp;ajouter un lieu
      </p>
    </a>
  </div>
  @if (preferredMeetingPlaceForm.invalid && preferredMeetingPlacesDisplay.length === 0) {
    <div class="d-flex justify-content-center mt-2">
      <div class="error-msg">Veuillez renseigner au moins une adresse</div>
    </div>
  }
}
