<app-billing-summary-card></app-billing-summary-card>
<section class="form-container">
  <form [formGroup]="paymentForm" (ngSubmit)="proposeMeeting()">
    <div class="form-input-fields-container">
      <div class="col">
        <label for="name" class="form-label">Nom et prénom</label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="name"
          formControlName="name"
          required
        />
      </div>
      <div class="col">
        <label for="card-number-element" class="form-label"
          >Numéro de carte bancaire</label
        >
        <div
          id="card-number-element"
          class="form-control form-control-sm stripe-element"
        ></div>
      </div>
      <div class="expiration-and-cvv">
        <div class="col expiration-date">
          <label for="card-expiry-element" class="form-label"
            >Date d'expiration</label
          >
          <div
            id="card-expiry-element"
            class="form-control form-control-sm stripe-element"
          ></div>
        </div>
        <div class="col">
          <label for="card-cvc-element" class="form-label">CVV</label>
          <div
            id="card-cvc-element"
            class="form-control form-control-sm stripe-element"
          ></div>
        </div>
      </div>
    </div>

    <div id="card-errors" role="alert" class="text-danger mt-2"></div>
    <section class="message-container">
      <p><b>En validant ce formulaire votre commande sera réservée.</b></p>
      <p>
        Votre paiement ne sera effectif qu'une fois que le vendeur et vous aurez
        confirmé la bonne tenue du RDV.
      </p>
      <p>
        Sans retour de votre part d'ici 5 jours,
        <b
          >le montant de la vente sera automatiquement débité de votre
          compte.</b
        >
      </p>
    </section>
    <section class="radio-input-container">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="conditions"
          id="conditions"
          formControlName="conditions"
          required
        />
        <label class="form-check-label" for="conditions">
          Je confirme avoir pris connaissance des informations ci-dessus.
        </label>
      </div>
    </section>
    <section class="button-container">
      <button
        type="submit"
        class="btn-primary mt-4"
        [disabled]="paymentForm.invalid"
      >
        réserver
      </button>
    </section>
  </form>
</section>
