@if (isUserLoggedIn) {
<section>
  <h1 id="hello" class="text-center fade-in">Bonjour {{ userAlias }} !</h1>
  <h2 class="text-left fade-in fw-bold m-5">
    {{ loggedInUserCity || isUserCityExistsWithAds === 'true' ? 'Les annonces à deux pas' : 'Les dernières annonces' }}
  </h2>
  @if (!loggedInUserCity && userAlias) {
  <p>
    <i>
      Aucune annonce n'est encore disponible dans ta ville.<br>
      En attendant, n'hésite pas à parcourir les autres annonces à proximité ✌
    </i>
  </p>
  }
  <app-ad-filters [(pageNumber)]="pageNumber" (filtersUpdated)="receiveUpdatedFilters($event)"
    [loggedInUserCity]="loggedInUserCity" [selectedCities]="selectedCities">
  </app-ad-filters>
  <app-ad-list [displayedAds]="filteredAds" [displayedAdsNumber]="displayedAdsNumberLoggedIn"
    [noMoreAds]="noMoreFilteredAds" (loadMore)="loadMoreFilteredAds()">
  </app-ad-list>
  @if (favoritesAds.length > 0) {
  <h2 class="text-left fw-bold fade-in m-5">Mes favoris</h2>
  <app-ad-list [displayedAds]="favoritesAds" [displayedAdsNumber]="displayedAdsNumberLoggedIn"
    [noMoreAds]="noMorefavoriteAds" (loadMore)="loadMoreFavoritesAds()">
  </app-ad-list>
  }
  @if (loggedInUserCity || isUserCityExistsWithAds === 'true') {
  <div class="fade-in">
    <h2 class="text-left fw-bold m-5 pt-4">
      <p>Les vendeurs prêts de chez moi</p>
    </h2>
    <app-sellers></app-sellers>
  </div>
  }
</section>
} @else {
<app-header></app-header>
<section id="home-body">
  <app-categories></app-categories>
  <h1 class="section-title"><b>Les dernières annonces</b></h1>
  <app-ad-filters [(pageNumber)]="pageNumber" (filtersUpdated)="receiveUpdatedFilters($event)"
    [loggedInUserCity]="null">
  </app-ad-filters>
  <app-ad-list [displayedAds]="filteredAds" [displayedAdsNumber]="displayedAdsNumberUnlogged"
    [noMoreAds]="noMoreFilteredAds" (loadMore)="loadMoreFilteredAds()">
  </app-ad-list>
</section>
}
