$primary: #ff9f1a;
$secondary: #ffbf6b;
$tertiary: #cff1ef;
$info: #2ec2b3;
$link-hover-color: #000;

.modal-btn .btn:active,
.modal-btn .btn:first-child:active {
  background-color: white;
  color: $primary;
  border-color: inherit;
}

.modal-btn .btn {
  width: 175px;
}

.modal-btn .btn.toggle {
  //width: 175px;
}

.modal-btn .btn.toggle:focus-visible {
  outline: none;
}
.modal-body {
  .input-group > .form-control,
  .input-group > .form-select,
  .input-group > .form-floating {
    width: 100%;
  }
  .alert {
    color: red;
  }
}

.modal-btn .btn.toggle:first-child.active,
.btn.toggle.active,
.btn.toggle:focus {
  border-color: white;
  background-color: white;
}
.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  background-color: white !important;
  color: #ff9f1a !important;
}
