@if(step === 1){
<h2><b>Récapitulatif de votre commande</b></h2>
} @if(step === 2){
<h2><b>Planifier un RDV avec [user.alias]</b></h2>
} @if(step === 3 && paymentMethod === 'Cash'){
<h2><b>Paiement cash</b></h2>
}@if(step === 3 && paymentMethod === 'Card'){
<h2><b>Paiement CB</b></h2>
}
<div class="progress-bar">
  <div [class.checkpoint]="step >= 1"></div>
  <hr [class.checkpoint]="step > 1" />
  <div [class.checkpoint]="step >= 2"></div>
  <hr [class.checkpoint]="step > 2" />
  <div [class.checkpoint]="step >= 3"></div>
</div>
