@if (adSuccessfullySubmitted) {
<div class="d-flex justify-content-center">
    <div class="alert alert-success text-center mb-5">
        Votre annonce "<strong>{{ myAd?.title }}</strong>" a bien été créée
    </div>
</div>
}
<section class="general-info">
    <div class="title-and-price flex space-between">
        <p id="ad-title"><b>{{ myAd?.title }}</b></p>
        <p id="ad-price">{{ myAd?.price }} €</p>
    </div>
    <div class="other-info flex-column">
        <p id="ad-creation-date"></p> Créée le {{ myAd?.creationDate }} <br>
        <p id="ad-state">État {{ myAd?.articleState }}</p> <br>
        {{ myAd?.articleDescription }} <br>
    </div>
</section>