@import 'color-variables';

.article-picture-image-section-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ngb-carousel {
    width: 335px;
}

.title-and-price {
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

#ad-price,
#ad-state {
    color: $primary;
}

#ad-creation-date {
    color: #5252529d;
}

#ad-description,
#ad-creation-date {
    font-weight: 400;
    word-wrap: break-word;
}

.other-info {
    font-weight: 400;
}

#other-ad-section-title {
    font-size: 22px;
    font-weight: 700;
}

.article-picture-image-section {
    display: none;
}

.img-wrapper {
    width: 335px;
    height: 333px;
}

// CTA
.cta-encart {
    border-radius: 10px 10px 25px 10px;
    background: #FFE2BC;
    width: 279.854px;
    height: 234px;
    padding: 35px 32px;
}

.cta-btn-section {
    display: flex;
    justify-content: space-between;
}

.cta-btn {
    width: 40px;
    height: 40px;
}

.cta-btn-text {
    font-weight: 400;
    font-size: 15px;
}

#favorite-icon {
    width: 32.684px;
    height: 26.238px;
}

.favorites {
    display: flex;
    gap: 8px;
}

#favorite-text {
    text-align: left;
    font-size: 12px;
}

a {
    text-decoration: none;
}

// traditionally used for interlinear annotations
// ruby-text can also be used in order to dynamically center an element
app-ad-card {
    display: ruby-text;
}

@media (min-width: 1200px) and (max-width: 1540px) {
    .main-sections {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .article-picture-image-section {
        margin: 0 auto;
        height: 380px;
        display: grid;
        grid-area: 1 / 1 / 2 / 4;

        img {
            margin-left: 0;
        }
    }

    .cta-encart {
        margin: 0 auto;
        border-radius: 10px 10px 25px 10px;
        background: #FFE2BC;
        width: 279.854px;
        height: 234px;
        padding: 35px 32px;
        grid-area: 2 / 2 / 3 / 3;
    }

    .general-info {
        margin: 0 auto;
        max-width: 867px;
        grid-area: 3 / 1 / 4 / 4;
    }

}

@media (min-width: 1540px) {
    .main-sections {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .article-picture-image-section {
        height: 380px;
        display: grid;
        grid-area: 1 / 1 / 3 / 3;

        img {
            margin-left: 0;
        }
    }

    .general-info {
        max-width: 867px;
        grid-area: 3 / 1 / 4 / 3;
    }

    .cta-encart {
        border-radius: 10px 10px 25px 10px;
        background: #FFE2BC;
        width: 279.854px;
        height: 234px;
        padding: 35px 32px;
        grid-area: 1 / 3 / 2 / 4;
    }
}

@media (min-width: 1200px) {

    // Article picture image section
    img {
        max-width: 100%;
        max-height: 100%;
    }

    .article-picture-image-section-mobile,
    ngb-carousel {
        display: none !important;
    }

    as-split-area>img {
        width: 100%;
        height: 100%;
    }

    .resizable-pictures {
        width: 880px;
        height: 300px;
        background: grey;
    }

    // User's other ads section
    .user-other-ads {
        // display: grid;
        // grid-template-columns: repeat(5, 1fr);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: flex-start;
        gap: 20px;
    }

    app-ad-card {
        display: inline;
    }
}