<!--
  Il faudra changer les balises <p> pour la redirection des lignes (routeur)
  Il faudra ajouter les redirections des logos des réseaux sociaux
-->

<div id="footerMainBlock">
  <div class="footerWave"></div>

  <div id="footerOther">
    <div id="headerText">
      <div class="headerEachBlock" id="aboutUs">
        <p class="headerTitle">À propos de nous</p>
        <p class="headerButton">Nos services</p>
      </div>
      <div class="headerEachBlock" id="discover">
        <p class="headerTitle">Découvrir</p>
        <p class="headerButton">Conditions générales de vente</p>
      </div>
      <div class="headerEachBlock" id="contactUs">
        <p class="headerTitle">Nous contacter</p>
        <p class="headerButton">contact&#64;adeuxpas.fr</p>
      </div>
    </div>

    <div id="footerSocialNetworks">
      <img
        src="/assets/icons/social-networks/facebook.webp"
        alt="Icône facebook"
        class="footerSocialNetworksEachIcon"
      />
      <img
        src="/assets/icons/social-networks/instagram.webp"
        alt="Icône instagram"
        class="footerSocialNetworksEachIcon"
      />
      <img
        src="/assets/icons/social-networks/x.webp"
        alt="icône Twitter / X"
        class="footerSocialNetworksEachIcon"
      />
      <img
        src="/assets/icons/social-networks/linkedin.webp"
        alt="Icône Linkedin"
        class="footerSocialNetworksEachIcon"
      />
    </div>
  </div>
</div>
