//Bien centré mes input/select
//verifier padding du btn primary
//Checker les bonnes width des input
//voir comment on stocke les photos qui seront uploadées
// Colors
@import '../../style/color-variables.scss';

.add-picture-icon {
    width: 27.25px;
    height: 27.25px;
}

.add-picture-btn-text {
    color: $primary;
}

.centered-elements {
    text-align: center;
  }
  
  .centered-elements h3 {
    text-align: left; /* Pour annuler la centrage des balises h3 */
  }

  .bottom-btns {
    display: flex;
    justify-content: space-evenly;
  }