@import 'color-variables';

// VERSION MOBILE (En dessous de 1024px de large)
@media screen and (max-width: 1023px) {
  #desktopHeader {
    display: none;
  }

  #mobileHeader {
    margin-bottom: 5%;
  }

  #mobileHeaderTopPart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: $tertiary;
    padding-bottom: 7%;
  }

  #mobileHeaderLogo {
    margin-bottom: 10px;
  }

  #mobileSearchArticle {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  #mobileSearchArticleInput {
    text-align: left;
    color: #acb1c6;
    font-size: 17px;
    border: none;
    width: 75%;
    height: 40px;
    padding-left: 20px;
    mask-image: radial-gradient(
      circle 10px at 100% 50%,
      transparent 0,
      transparent 20px,
      black 21px
    );
    /* Fallback for WebKit browsers */
    -webkit-mask-image: radial-gradient(
      circle 10px at 100% 50%,
      transparent 0,
      transparent 20px,
      black 21px
    );
  }

  #mobileSearchArticleButton {
    height: 30px;
    margin-left: -15px;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }

  .mobileHeaderWave {
    position: relative;
    background-color: $tertiary;
    margin-bottom: 5%;
    height: 20px;
  }

  .mobileHeaderWave::before {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 47vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 105' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 2 32.2291 4 51.5 7C104.5 15 200 34 300 52C400 70 500 87 600 80C700 73 800 42 900 24C987.526 4 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V105H1150C1100 105 1000 105 900 105C800 105 700 105 600 105C500 105 400 105 300 105C200 105 100 105 50 105H0V1.98128Z' fill='%23ffffff'/></svg>");
  }

  #mobileNavbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: $tertiary;
    z-index: 2;
  }

  #mobileNavbarIcons {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .mobileNavbarEachIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }

  .navbarIconSelected {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: $primary;
    /* Pour une meilleure compatibilité avec les navigateurs */
    -webkit-text-decoration-color: $primary;
    -moz-text-decoration-color: $primary;
    -o-text-decoration-color: $primary;
    -ms-text-decoration-color: $primary;
  }

  #mobileNavbarIconSell p {
    color: $primary;
  }

  .mobileNavbarWave {
    position: relative;
  }

  .mobileNavbarWave::before {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 48vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  105' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 77L50 72C100 68 200 58 300 39C400 20 500 -8 600 1C700 11 800 58 900 77C1000 96 1100 87 1150 82L1200 77V106H1150C1100 106 1000 106 900 106C800 106 700 106 600 106C500 106 400 106 300 106C200 106 100 106 50 106H0V77Z' fill='%23cff1ef'/></svg>");
  }

  #mobileNavbarMenu {
    height: 100vh;
    background-color: $tertiary;
  }

  #mobileNavbarMenuClose {
    position: absolute;
    top: 3%;
    right: 15%;
  }

  #mobilerNavbarMenuLogo {
    justify-content: center;
    width: 100%;
    height: 15%;
    padding-top: 10%;
  }

  #mobileNavbarMenuChoices {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .mobileNavbarMenuEachChoiceButton {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }

  #mobileNavbarMenuSeparatorDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #mobileNavbarMenuSeparatorLine {
    border: 1px solid $primary;
    width: 90%;
  }

  #mobileNavbarMenuLogout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
  }
}

// VERSION ORDINATEUR
@media screen and (min-width: 1024px) {
  #mobileHeader {
    display: none;
  }

  #mobileNavbarMenu {
    display: none;
  }

  #desktopHeaderTopPart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $tertiary;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 90px;
  }

  #desktopHeaderSellButton {
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }

  #desktopSearchArticle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #desktopSearchArticleInput {
    text-align: left;
    color: #acb1c6;
    font-size: 17px;
    border: none;
    height: 40px;
    padding-left: 20px;
    mask-image: radial-gradient(
      circle 10px at 100% 50%,
      transparent 0,
      transparent 20px,
      black 21px
    );
    /* Fallback for WebKit browsers */
    -webkit-mask-image: radial-gradient(
      circle 10px at 100% 50%,
      transparent 0,
      transparent 20px,
      black 21px
    );
  }

  #desktopSearchArticleButton {
    height: 30px;
    margin-left: -15px;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }

  #desktopHeaderLogo {
    display: flex;
  }

  .desktopHeaderWave {
    position: relative;
    background-color: $tertiary;
  }

  .desktopHeaderWave::before {
    content: "";
    width: 100%;
    height: 88px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 47vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 105' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 2 32.2291 4 51.5 7C104.5 15 200 34 300 52C400 70 500 87 600 80C700 73 800 42 900 24C987.526 4 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V105H1150C1100 105 1000 105 900 105C800 105 700 105 600 105C500 105 400 105 300 105C200 105 100 105 50 105H0V1.98128Z' fill='%23ffffff'/></svg>");
  }

  #desktopNavbarIcons {
    display: flex;
    width: 33%;
    justify-content: space-around;
  }

  .desktopNavbarEachIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }

  .navbarIconSelected {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: $primary;
    /* Pour une meilleure compatibilité avec les navigateurs */
    -webkit-text-decoration-color: $primary;
    -moz-text-decoration-color: $primary;
    -o-text-decoration-color: $primary;
    -ms-text-decoration-color: $primary;
  }

  .desktopNavbarAccountIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #desktopNavbarMenu {
    position: absolute;
    top: 75px;
    background-color: $tertiary;
    z-index: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 30px;
  }

  #desktopNavbarMenuFlex {
    display: flex;
    flex-direction: column;
  }

  .desktopNavbarMenuEachChoice {
    // margin: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .desktopNavbarMenuEachChoiceButton {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
    &:active {
      opacity: 0.5;
    }
  }

  #desktopNavbarMenuSeparatorDiv {
    display: flex;
    justify-content: center;
  }

  #desktopNavbarMenuSeparatorLine {
    border: 1px solid $primary;
    width: 90%;
  }

  #desktopNavbarMenuLogout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
  }
}
