// Import color variables
@import 'color-variables';

// Hide the account tabs on the mobile version
#account-tabs {
  display: none;
}

// Desktop version style elements
@media (min-width: 700px) {

  #account-tabs {
    display: inline-flex;
    border-color: white;
  }

  // Add bottom border to the account tabs
  #account-tabs.nav-tabs {
    border-bottom: 2px solid $primary;
  }

    // Default style for navigation links
    #account-tabs button.nav-link {
      transition: none;
      color: black;
      padding: 20px 32px;
    }

  // Style for active navigation link
  #account-tabs button.nav-link.active {
    border-radius: 10px 25px 0px 0px;
    background-color: $primary;
    color: white !important;
    border-color: $primary;
  }

  // Style for hover and focus states of navigation links
  #account-tabs.nav-tabs .nav-link:hover,
  #account-tabs.nav-tabs .nav-link:focus {
    border-bottom-color: $primary;
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
  }

  // Text color for hover and focus states of navigation links
  #account-tabs .nav-link:hover,
  #account-tabs .nav-link:focus {
    color: $primary;
  }
}
