<div *ngIf="adForm.submitted && adForm.valid && adSuccessfullySubmitted" class="alert alert-succes">
  Votre annonce a bien été créée
</div>
<div *ngIf="adForm.submitted && adForm.invalid && errorWhenSubmittingMsg" class="alert alert-danger">
  Une erreur s'est produite
</div>
<div class="centered-elements">
  <form #adForm="ngForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center bold-title-700 mb-5">Créer une annonce</h2>

    <h3 class="bold-title-700">Photo(s)</h3>

    <div class="mx-auto mb-5" id="selectPicNumber">
      <ng-select [clearable]="false" [(ngModel)]="selectedPicNumber" name="selectedPicNumber" class="custom mt-4"
        placeholder="1 photo">
        <ng-option *ngFor="let number of [1, 2, 3, 4, 5]" [value]="number">
          {{ number }} {{ number === 1 ? 'photo' : 'photos' }}
        </ng-option>
      </ng-select>
    </div>

    <!-- image selection section on desktop device -->
    <div class="dropzone-field mx-auto mb-5">
      <ngx-dropzone #dropzoneEl name="article-picture" *ngFor="let i of getArray(selectedPicNumber)" class="dropzone"
        [ngClass]="{'d-none': isBigScreen == false, 'block': isBigScreen == true}" id="dropzone{{i}}"
        (change)="onSelectPicture($event, i)" [multiple]="false" [class.one-dropzone]="selectedPicNumber === 1"
        [class.two-dropzones]="selectedPicNumber === 2" [class.three-dropzones]="selectedPicNumber === 3"
        [class.four-dropzones]="selectedPicNumber === 4" [class.five-dropzones]="selectedPicNumber === 5"
        accept="image/jpeg,image/jpg,image/png,image/svg,image/webp">
        <ngx-dropzone-label class="center mx-auto">
          <div class="add-picture-btn">
            <img class="add-picture-icon" src="../../assets/icons/buttons/add-orange.webp" alt="icone-d-ajout-d-image">
            <p class="add-picture-btn-text">ajouter une photo</p>
          </div>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of getFilesArray(i)" [file]="f"
          [removable]="true" (removed)="onRemove(f, i)">
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>

    <!-- Carrousel section for image selection on mobile device -->
    <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)" class="center"
      [ngClass]="{'block': isBigScreen == false, 'd-none': isBigScreen == true}">
      @for (picNumber of getArray(selectedPicNumber); track picNumber; let i = $index) {
      <ng-template ngbSlide>
        <div class="carousel-caption">
        </div>
        <ngx-dropzone [ngClass]="{'block': isBigScreen == false, 'd-none': isBigScreen == true}"
          class="carousel-item-mobile dropzone d-block w-50" (change)="onSelectPicture($event, picNumber)"
          [multiple]="false" [accept]="'image/jpeg,image/jpg,image/png,image/svg,image/webp'">
          <ngx-dropzone-label class="center mx-auto">
            <div class="add-picture-btn">
              <img class="add-picture-icon" src="../../assets/icons/buttons/add-orange.webp"
                alt="icone-d-ajout-d-image">
              <p class="add-picture-btn-text">ajouter une photo</p>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of getFilesArray(picNumber)"
            [file]="f" [removable]="true" (removed)="onRemove(f, picNumber)"></ngx-dropzone-image-preview>
        </ngx-dropzone>
      </ng-template>
      }
    </ngb-carousel>

    <!-- Category choice section -->
    <div class="mx-auto article-cagorization" style="width: 246px;">
      <ng-select [(ngModel)]="ad.category" name="cat" (change)="resetChoices()" class="custom mt-4"
        placeholder="Choisissez une catégorie" #adCategory="ngModel" required>
        <ng-option *ngFor="let cat of categories" [value]="cat.name">
          {{ cat.name }}
        </ng-option>
      </ng-select>
    </div>
    <div *ngIf="adCategory.errors">
      <span class="error-msg" *ngIf="adCategory.touched && adCategory.errors?.['required']">Veuillez entrer une
        categorie</span>
    </div>

    <div *ngIf="ad.category" class="mx-auto article-cagorization" style="width: 246px;">
      <ng-select [(ngModel)]="ad.subcategory" name="sub-cat" class="custom mt-4" placeholder="une sous catégorie"
        #subcategory="ngModel" required>
        <ng-option *ngFor="let subCat of getSubCategories()" [value]="subCat.name">
          {{ subCat.name }}
        </ng-option>
      </ng-select>
    </div>

    <div *ngIf="ad.subcategory == 'Hauts' || ad.subcategory == 'Bas'" class="mx-auto mb-2 article-cagorization"
      style="width: 246px;" required>
      <ng-select [(ngModel)]="ad.articleGender" name="sub-cat-gender" class="custom mt-4" placeholder="un genre">
        <ng-option *ngFor="let subCatGender of getSubCategoriesGender()" [value]="subCatGender.name">
          {{ subCatGender.name }}
        </ng-option>
      </ng-select>
    </div>

    <!-- General information section -->
    <h3 class="bold-title-700 mb-5 mt-3">Informations générales</h3>

    <div class="label-and-input title-input mx-auto">
      <label for="ad-title" name="ad-title">Titre</label>
      <input [(ngModel)]="ad.title" id="ad-title" name="ad-title" type="text" class="form-control mb-4" #title="ngModel"
        required>
    </div>
    <div *ngIf="title.errors">
      <span class="error-msg mb-4" *ngIf="title.touched && description.errors?.['required']">Veuillez entrer un
        titre</span>
    </div>

    <div class="label-and-input description-input mx-auto mt-5">
      <label for="ad-description" class="form-label">Description</label>
      <textarea [(ngModel)]="ad.articleDescription" class="form-control form-control-sm mx-auto mb-4"
        name="ad-description" id="ad-description" rows="3" #description="ngModel" required></textarea>
    </div>
    <div *ngIf="description.errors">
      <span class="error-msg mb-4" *ngIf="description.touched && description.errors?.['required']">Veuillez entrer une
        description</span>
    </div>

    <div class="col-2 mt-5" [ngClass]="{'mx-auto': isBigScreen, 'state-and-price-input-correction ': !isBigScreen}">
      <ng-select [(ngModel)]="ad.articleState" name="state" class="custom mt-4 mb-4" placeholder="Etat" #state="ngModel"
        required>
        <ng-option *ngFor="let state of states" [value]="state.name" id="ad-status">
          {{ state.name }}
        </ng-option>
      </ng-select>
    </div>
    <div *ngIf="state.errors">
      <span class="error-msg mb-4" *ngIf="state.touched && state.errors?.['required']">Veuillez selectionner un
        état</span>
    </div>

    <div class="col-2 flex  mt-5" id="price-input-field"
      [ngClass]="{'mx-auto': isBigScreen, 'state-and-price-input-correction ': !isBigScreen}">
      <label for="ad-price" name="ad-price" id="id-label" class="mt-3">Prix</label>
      <input [(ngModel)]="ad.price" name="price" id="ad-price" type="number" class="col-8 mx-auto form-control mb-4"
        #price="ngModel" required number min="0.1">
      <span class="input-group-addon">&nbsp;&nbsp;&nbsp;€</span>
    </div>
    <div *ngIf="price.errors">
      <span class="error-msg mb-4" *ngIf="price.errors?.['required']">Veuillez entrer un prix</span>
    </div>


    <div class="bottom-btns mb-5 mt-5">
      <button type="submit" class="btn-secondary mt-4">annuler</button>
      <button type="submit" class="btn-primary mt-4">publier</button>
    </div>
  </form>
</div>