<!-- <as-split direction="horizontal">
    <as-split-area [size]=areaSizeA #splitAreaA>
        <as-split direction="vertical">
            <as-split-area>
                <img src="{{articlePictures[1]}}" alt="{{ myAd.title }} 2" />
            </as-split-area>
            @if (articlePictures[2]) {
            <as-split-area>
                <img src="{{articlePictures[2]}}" alt="{{ myAd.title }} 3" />
            </as-split-area>
            }
        </as-split>
    </as-split-area>
    <as-split-area [size]=areaSizeB #splitAreaB>
        <as-split direction="horizontal">
            <as-split-area>
                <img src="{{articlePictures[0]}}" alt="{{ myAd.title }} 1" />
            </as-split-area>
            @if (articlePictures[3]) {
            <as-split-area>
                <img src="{{articlePictures[3]}}" alt="{{ myAd.title }} 4" />
            </as-split-area>
            }
            @if (articlePictures[4]) {
            <as-split-area>
                <img src="{{articlePictures[4]}}" alt="{{ myAd.title }} 5" />
            </as-split-area>
            }
        </as-split>
    </as-split-area>
</as-split> -->