@import 'color-variables';

.meetings-container {
  padding: 30px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-tabs {
  margin-bottom: 20px;
  justify-content: center;
  border: none;
  gap: 20px;
}

.nav-item {
  border: none;
}

.nav-link {
  cursor: pointer;
  border: none;
  color: black;
  padding-bottom: 0;
  text-align: center;

  &.active {
    border-bottom: 6px solid $primary;
  }

  img {
    width: 30px;
  }
}
