<div class="custom-container">
  <app-tabs-account></app-tabs-account>
  <div class="meetings-container">
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'proposes'" (click)="navigateTo('proposes')">
            <img src="../../../../assets/icons/meetings/proposed.webp" alt="meeting-icone"><br>
            Proposés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'a-confirmer'" (click)="navigateTo('a-confirmer')">
            <img src="../../../../assets/icons/meetings/to-be-confirmed.webp" alt="meeting-icone"><br>
            À confirmer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'planifies'" (click)="navigateTo('planifies')">
            <img src="../../../../assets/icons/meetings/planned.webp" alt="meeting-icone"><br>
            Planifiés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'a-finaliser'" (click)="navigateTo('a-finaliser')">
            <img src="../../../../assets/icons/meetings/to-be-finalized.webp" alt="meeting-icone"><br>
            À finaliser</a>
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
