@if(step === 1){
<h2><b>Récapitulatif de votre commande</b></h2>
} @if(step === 2){
<h2>
  <b>Planifier un RDV avec {{ ad.publisherAlias }}</b>
</h2>
} @if(step === 3 && paymentMethod === 'cash'){
<h2><b>Paiement cash</b></h2>
}@if(step === 3 && paymentMethod === 'card'){
<h2><b>Paiement CB</b></h2>
}

<section class="progress-bar">
  <div class="step-container">
    <p [class.title-checkpoint]="step >= 1">Récapitulatif</p>
    <div
      class="circle"
      id="recap"
      [class.checkpoint]="step >= 1"
      [class.checkmark-flag]="step >= 2"
      [class.pointer]="step >= 2"
    ></div>
  </div>
  <hr [class.checkpoint]="step > 1" />

  <div class="step-container">
    <p [class.title-checkpoint]="step >= 2">RDV</p>
    <div
      class="circle"
      id="rdv"
      [class.checkpoint]="step >= 2"
      [class.checkmark-flag]="step >= 3"
      [class.pointer]="step >= 3"
    ></div>
  </div>
  <hr [class.checkpoint]="step > 2" />

  <div class="step-container">
    <p [class.title-checkpoint]="step === 3">Paiement</p>
    <div class="circle" [class.checkpoint]="step === 3"></div>
  </div>
</section>
