@import 'color-variables';

main {
  margin:0 !important;
}

//Mobile and Tablet version
@media (max-width: 891px) {
  #desktop-header {
    display: none;
  }

  .bg-navbar {
    display: none;
  }
}

// Header background
.curved-background {
  position: absolute;
  background-color: $tertiary;
  width: 100%;
  height: 681px;
  max-height: 686px;
  border-bottom-left-radius: 400px 283px;
  border-bottom-right-radius: 400px 283px;
}

#mobile-header {
  z-index: 1001;
  position: relative;
}

#mobile-header-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
}

// categories
#mobile-categories {
  padding-left: 3%;
  padding-right: 3%;
}

#mobile-category-title {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: $primary;
  text-align: center;
  margin: 10px;
}

#mobile-all-categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.mobile-category {
  width: 50%;
  padding: 3%;
}

.mobile-category h2 {
  font-size: 18px;
  font-weight: bold;
  color: $primary;
  text-align: justify;
}

.mobile-category p {
  font-size: 14px;
  text-align: left;
}

#mobile-welcome-text {
  font-size: 17px;
  text-align: center;
  margin-top: 2rem;
  padding: 0 1rem 0 1rem;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

// To do : à remplacer par app-navbar
#mobileNavbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: $tertiary;
  z-index: 2;
}

#mobileNavbarIconSell {
  position: fixed;
  bottom: 10px;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

#mobileNavbarIconSell p {
  margin: 5px;
  color: $primary;
}

.mobileNavbarWave {
  position: relative;
}

.mobileNavbarWave::before {
  content: "";
  width: 100%;
  height: 88px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 48vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  105' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 77L50 72C100 68 200 58 300 39C400 20 500 -8 600 1C700 11 800 58 900 77C1000 96 1100 87 1150 82L1200 77V106H1150C1100 106 1000 106 900 106C800 106 700 106 600 106C500 106 400 106 300 106C200 106 100 106 50 106H0V77Z' fill='%23cff1ef'/></svg>");
}

// Desktop version
.bg-navbar {
  width: 100%;

  &.container-nav {
    position: absolute;
    background: #cff1ef;
    height: 55vh;
    z-index: 0;
  }

  .wave {
    position: absolute;
    width: 97.2%;
    height:  118%;
    background: #cff1ef;
    bottom: 0;

    &:before {
      width: 51%;
      height: 90%;
      background-color: #fff;
      right: -33px;
      top: 322px;
      border-radius: 946% 400% 863% 611%;
      transform: translate(-2%, 4px);
    }

    &:after {
      width: 70%;
      height: 106%;
      background-color: #cff1ef;
      left: -35px;
      top: 156px;
      border-radius: 896% 296% 1210% 215%;
      transform: translate(2%, -20px);
    }
  }
  .wave:before,
  .wave:after {
    content: "";
    display: block;
    position: absolute;
  }
}

@media (min-width: 892px) {

  #mobile-header {
    display: none;
  }

  .curved-background {
    display: none
  }

  #desktop-header {
    z-index: 1001;
    position: relative;
  }

  #desktop-header-top {
    padding-left: 3%;
    padding-right: 3%;
  }

  #desktop-first-range {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  #desktop-logo {
    display: flex;
  }

  #welcome-text {
    //width: 41%;
    width: 525px;
    min-width: 617px;
    font-size: 18px;
    text-align: justify;
    //margin-left: 5rem;
    margin-right: 20px;
    padding-right: 161px;
  }

  #create-ad-button {
    margin-right: 15rem;
    min-width: 179px;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }

  #desktop-categories {
    margin-left: 26px;
    margin-top: 2rem;
    margin-right: 3%;
  }

  #desktop-category-title {
    color: $primary;
    font-weight: bold;
    margin-bottom: 8%;
  }

  #desktop-all-categories {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
  }

  .desktop-category {
    width: 18%;
  }

  .desktop-category h2 {
    color: $primary;
    font-weight: bold;
  }
}

@media (min-width: 960px) {
  .bg-navbar {
    .wave {
      width: 97.5%;
    }
  }
}

@media (min-width: 1000px) {
  .bg-navbar {
    .wave {
      width: 97.6%;

      &:before {
      width: 50%;
      }
    }
  }
}

@media (min-width: 1080px) {
  .bg-navbar {
    .wave {
      width: 97.9%;

      &:after {
        width: 69%;
        left: -31px;
      }
    }
  }
}

@media (min-width: 1180px) {
  .bg-navbar {
    .wave {
      width: 97.9%;

      &:before {
        width: -49%;
      }

      &:after {
        width: 67%;
        left: -18px;
      }
    }
  }
}

@media (min-width: 1250px) {
  #welcome-text {
    padding-left: 5rem;
    padding-right: 0px;
  }

  #desktop-categories {
    margin-left: 125px;
  }

  #create-ad-button {
    margin-left: 38px;
  }
}

