<!-- VERSION MOBILE -->
<div id="mobileHeader">
  <div id="mobileHeaderTopPart">
    <div class="mobile-logo-container mt-4" id="headerLogoMobile">
      <span class="mobile-logo align-self-center">A DEUX PAS</span>
      <img
        class="mobile-footsteps"
        src="/assets/icons/mobile-footsteps.webp"
        alt="icône de traces de pas"
      />
    </div>
    <button id="loginButton">Se connecter</button>
    <div id="searchArticleInputAndButton">
      <input
        id="searchArticleInput"
        type="text"
        placeholder="Rechercher un article"
      />
      <img
        id="searchArticleButton"
        src="/assets/icons/navbar/search.webp"
        alt="icône de loupe de recherche"
      />
    </div>
    <p id="headerWelcomeText">
      Bienvenue sur "À Deux Pas", <br />une communauté où la vente entre voisins
      devient une expérience humaine unique. Favorisant les rencontres locales
      et les échanges authentiques, notre plateforme place l'humain au cœur de
      chaque transaction. Ensemble, créons un monde respectueux de notre
      planète, où chaque objet raconte une histoire et chaque interaction crée
      des liens durables.
    </p>
  </div>

  <div class="mobileHeaderWave"></div>

  <div id="mobileHeaderCategory">
    <h1 id="mobileCategoryTitle">Les catégories</h1>
    <div id="mobileCategoryAll">
      <div class="mobileCategoryEach">
        <h2>Mode</h2>
        <p>
          Tombez sur l’ex veste préférée de Donia ou sur les chaussures trop
          petites de Mircea, chargées de souvenirs.
        </p>
      </div>
      <div class="mobileCategoryEach">
        <h2>Maison</h2>
        <p>
          Dénichez des pièces uniques comme la table de la famille d’Erika,
          témoin de repas partagés et de moments précieux.
        </p>
      </div>
      <div class="mobileCategoryEach">
        <h2>Loisirs</h2>
        <p>
          Découvrez le dernier livre captivant lu par Léa ou le vélo de Thomas,
          qui vous inciteront à explorer de nouveaux horizons.
        </p>
      </div>
      <div class="mobileCategoryEach">
        <h2>Électronique</h2>
        <p>
          Repérez la caméra de voyage de Julien, prête à être le témoin de
          nouvelles aventures.
        </p>
      </div>
    </div>
  </div>
  <div id="mobileNavbar">
    <div id="mobileNavbarIconSell">
      <img
        class="add-icon"
        src="../../../../assets/icons/buttons/add-orange.webp"
        alt="icône 'A vendre'"
      />
      <p>Vendre</p>
    </div>
    <div class="mobileNavbarWave"></div>
  </div>
</div>

<!-- VERSION ORDINATEUR / TABLETTE -->
<div id="desktopHeader">
  <div id="desktopHeaderTopPart">
    <div id="desktopFirstRange">
      <div class="mt-2" id="headerLogoDesktop">
        <img
          class="desktop-footsteps"
          src="/assets/icons/desktop-footsteps.webp"
          alt="icône de traces de pas"
        />
        <div>
          <div class="text-left">
            <span class="desktop-logo">A</span>
            <span class="desktop-logo">DEUX</span>
            <span class="desktop-logo">PAS</span>
          </div>
        </div>
      </div>
      <div id="searchArticleInputAndButton">
        <input
          id="searchArticleInput"
          type="text"
          placeholder="Rechercher un article"
        />
        <img
          id="searchArticleButton"
          src="/assets/icons/navbar/search.webp"
          alt="icône de loupe de recherche"
        />
      </div>
      <button id="loginButton">Se connecter</button>
    </div>
    <div id="desktopSecondRange">
      <p id="headerWelcomeText">
        Bienvenue sur "À Deux Pas", <br />une communauté où la vente entre
        voisins devient une expérience humaine unique. Favorisant les rencontres
        locales et les échanges authentiques, notre plateforme place l'humain au
        cœur de chaque transaction. Ensemble, créons un monde respectueux de
        notre planète, où chaque objet raconte une histoire et chaque
        interaction crée des liens durables.
      </p>
      <div id="createAddButtonDiv">
        <button type="submit" class="btn-sell mt-4" id="createAddButton">
          <img
            class="add-icon"
            src="/assets/icons/buttons/add-white.webp"
            alt="icône plus"
          />Créer une annonce
        </button>
      </div>
    </div>
  </div>
  <div class="desktopHeaderWave"></div>

  <div id="desktopHeaderCategory">
    <h1 id="desktopCategoryTitle">Les catégories</h1>
    <div id="desktopCategoryAll">
      <div class="desktopCategoryEach" style="position: relative">
        <h2>Mode</h2>
        <p>
          Tombez sur l’ex veste préférée de Donia ou sur les chaussures trop
          petites de Mircea, chargées de souvenirs.
        </p>
      </div>
      <div class="desktopCategoryEach" style="position: relative; top: -50px">
        <h2>Maison</h2>
        <p>
          Dénichez des pièces uniques comme la table de la famille d’Erika,
          témoin de repas partagés et de moments précieux.
        </p>
      </div>
      <div class="desktopCategoryEach" style="position: relative; top: -100px">
        <h2>Loisirs</h2>
        <p>
          Découvrez le dernier livre captivant lu par Léa ou le vélo de Thomas,
          qui vous inciteront à explorer de nouveaux horizons.
        </p>
      </div>
      <div class="desktopCategoryEach" style="position: relative; top: -150px">
        <h2>Électronique</h2>
        <p>
          Repérez la caméra de voyage de Julien, prête à être le témoin de
          nouvelles aventures.
        </p>
      </div>
    </div>
  </div>
</div>
