@import 'color-variables';

.search-article-input {
  width: 252px;
  text-align: left;
  border: none;
  height: 40px;
  caret-color: $primary;
  padding-left: 20px;
  background: radial-gradient(circle 10px at 100% 50%, transparent 0, transparent 20px, white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &:focus-visible {
  outline: none;
  }
}

#search-article {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-article-button {
  height: 35px;
  margin-left: -10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}
