<div class="custom-container">
  <app-tabs-account></app-tabs-account>
  <p class="tab-title-mobile mx-auto" [ngClass]="{'': isBigScreen == false, 'd-none': isBigScreen == true}">Mes
    annonces
  </p>
  <div class="content">
    <button (click)="createNewAd()" type="submit" class="btn-sell mt-4 mb-2"><img class="add-icon"
        src="/assets/icons/buttons/add-white.webp" alt="icône plus">créer une annonce
    </button>
    <section class="mt-5 mb-5">
      <app-ad-list [displayedAds]="loggedInUserAd" [displayedAdsNumber]="12" [noMoreAds]="noMoreAds"
        (loadMore)="loadMoreAds()"></app-ad-list>
    </section>
  </div>
</div>
