<div class="account-container">
  <app-tabs-account></app-tabs-account>
  <p class="tab-title-mobile mx-auto" [ngClass]="{'': isBigScreen == false, 'd-none': isBigScreen == true}">Mes
    annonces
  </p>
  <div class="content">
    <button (click)="createNewAd()" type="submit" class="btn-sell mt-4 mb-2"><img class="add-icon"
        src="/assets/icons/buttons/add-white.webp" alt="icône plus">créer une annonce
    </button>
    <!-- my ads section -->
    <section class="mt-5 mb-5 myAdsList">
      @for (myAd of myAds; track myAd) {
      <a href="/compte/annonces/mon-annonce/{{myAd.id}}">
        <app-ad-card [ad]="myAd" [mine]="true"></app-ad-card>
      </a>
      }
    </section>
  </div>
</div>