<section class="cta-section flex-row  text-center" [ngClass]="{'mx-auto': !isBigScreen}">
    <div class="main-actions">
        <a (click)="startCheckout()" class="flex-column btn-cta text-decoration-none">
            <img class="cta-btn-seller-ad" src="assets/icons/buttons/buy.webp" alt="bouton acheter l'article">
            <p class="cta-btn-text">acheter</p>
        </a>
        <a (click)="makeAnOffer()" class="flex-column btn-cta text-decoration-none">
            <img class="cta-btn-seller-ad" src="assets/icons/buttons/offer.webp" alt="bouton faire une offre">
            <p class="cta-btn-text">faire une offre</p>
        </a>
        <a type="button"
          class="flex-column btn-cta text-decoration-none"
          (click)="addToFavorites()">
            <img class="cta-btn-seller-ad" src="assets/icons/buttons/add-to-favorites.webp" alt="icône favoris" [hidden]="ad?.favorite">
            <img class="cta-btn-seller-ad" src="assets/icons/buttons/added-to-favorites.webp" alt="icône favoris" [hidden]="!ad?.favorite">
            <p class="cta-btn-text">favoris</p>
        </a>
    </div>
    <div class="seller-ad-cta-encart mt-4">
        <div class="publisher-contact">
            <p id="publisher-name">{{ ad?.publisherAlias }}</p>
            <a (click)="goToSellerProfile(ad?.publisherAlias, ad?.publisherId)" class="btn-cta text-decoration-none">
              <img id="cta-btn-contact-seller" src="assets/icons/buttons/arrow-right.webp" alt="bouton pour acceder aux profil du vendeur">
            </a>
        </div>
        <div class="publisher-info mt-2 mb-1">
            <div class="flex-column">
                <p>{{ ad?.publisherCity }}</p>
                <p>Membre depuis le {{ ad?.publisherInscriptionDate }}</p>
            </div>
        </div>
        <a (click)="contactTheSeller(ad?.publisherAlias, ad?.publisherId)" class="flex-column btn-cta text-decoration-none">
            <img id="cta-btn-contact" src="assets/icons/buttons/message.webp" alt="bouton pour contacter le vendeur">
            <p class="cta-btn-text">contacter</p>
        </a>
    </div>
</section>
<!-- TO DO :: rebosser display du cta quand se fera le processus de checkout en fonction des differents ad.status -->
