<app-billing-summary-card></app-billing-summary-card>
<div class="select-input-container">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="payment" id="card" />
    <label class="form-check-label" for="card">
      Je m'engage à payer le montant comptant de {{ sumTotal }}€ lors du RDV où
      nous procéderons à l'échange.
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="payment" id="cash" />
    <label class="form-check-label" for="cash">
      Je m'engage à ne pas demander au vendeur de me faire crédit, ni à négocier
      le prix de ma commande.
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="payment" id="card" />
    <label class="form-check-label" for="card">
      J'accepte les termes de bonne conduite du site.
    </label>
  </div>
</div>
<section class="button-container">
  <button type="submit" class="btn-primary mt-4">réserver</button>
</section>
