<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="email" class="mt-3">Adresse email</label>
  <div class="input-group mt-2">
    <input
      id="email"
      type="email"
      name="email"
      formControlName="email"
      class="form-control"
      required
    />
  </div>
  @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty
  || loginForm.get('email')?.touched)) {
  <div class="error-msg mt-2">
    @if (loginForm.get('email')?.errors?.['required']) {
    <div>L'adresse email est requise</div>
    }
    @if (loginForm.get('email')?.errors?.['email']) {
    <div>L'adresse email n'est pas valide</div>
    }
    @if (loginForm.get('email')?.errors?.['emailAddressNotFound']) {
      <div>Aucun utilisateur n'est enregitré avec cette adresse email</div>
      }
  </div>
  }
  <label for="password" class="mt-4">Mot de passe</label>
  <div class="input-group mt-2" id="password-input-wrapper">
    <input
      id="password"
      type="{{ showPassword ? 'text' : 'password' }}"
      name="password"
      formControlName="password"
      class="form-control"
      required
    />
    <button type="button"
      id="btn-password-visibility"
      (click)="togglePasswordVisibility()">
      <img
        src="assets/icons/buttons/visible.webp"
        class="eye-icon"
        alt="icône oeil"
        [hidden]="!showPassword">
      <img src="assets/icons/buttons/no-visible.webp"
        class="eye-icon"
        alt="icône oeil barrée"
        [hidden]="showPassword">
    </button>
  </div>
  @if (loginForm.get('password')?.invalid &&
  (loginForm.get('password')?.dirty ||
  loginForm.get('password')?.touched)) {
  <div class="error-msg mt-2">
    @if (loginForm.get('password')?.errors?.['required']) {
    <div>Le mot de passe est requis</div>
    }
    @if (loginForm.get('password')?.errors?.['incorrectPassword']) {
      <div>Le mot de passe que vous avez saisi est incorrect. Veuillez réessayer</div>
    }
  </div>
  }
  <div class="form-check mt-4">
    <input
      class="form-check-input"
      name="stay-logged-in"
      formControlName="rememberMe"
      type="checkbox"
      value=""
      id="stay-logged-in">
    <label class="form-check-label" for="stay-logged-in">
      Rester connecté
    </label>
  </div>
  <div class="modal-footer justify-content-center mt-4">
    <button type="submit" class="btn-success" [disabled]="loginForm.invalid">
      C'est parti !
    </button>
  </div>
</form>
