<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="email" class="mt-3">Adresse email</label>
  <div class="input-group">
    <input
      id="email"
      type="email"
      name="email"
      formControlName="email"
      class="form-control"
      required
      placeholder="nom@example.com"
    />
    @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty
    || loginForm.get('email')?.touched)) {
    <div class="error-msg">
      @if (loginForm.get('email')?.errors?.['required']) {
      <div>L'adresse email est requise.</div>
      }
      @if (loginForm.get('email')?.errors?.['email']) {
      <div>L'adresse email n'est pas valide.</div>
      }
    </div>
    }
  </div>
  <label for="password" class="mt-4">Mot de passe</label>
  <div class="input-group">
    <input
      id="password"
      type="password"
      name="password"
      formControlName="password"
      class="form-control"
      required
      placeholder="5 caractères minimum"
    />
    @if (loginForm.get('password')?.invalid &&
    (loginForm.get('password')?.dirty ||
    loginForm.get('password')?.touched)) {
    <div class="error-msg">
      @if (loginForm.get('password')?.errors?.['required']) {
      <div>Le mot de passe est requis.</div>
      }
      @if (loginForm.get('password')?.errors?.['minlength']) {
      <div>Le mot de passe doit comporter au moins 5 caractères.</div>
      }
    </div>
    }
  </div>
  <div class="form-check mt-4">
    <input class="form-check-input" name="stay-logged-in" formControlName="stayLoggedIn" type="checkbox" value="" id="stay-logged-in">
    <label class="form-check-label" for="stay-logged-in">
      Rester connecté
    </label>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="submit" class="btn-success">C'est parti !</button>
  </div>
</form>
@if (showErrorAlert) {
<div class="alert alert-danger mt-3">
  Login ou mot de passe incorrect. Veuillez réessayer.
</div>
}
