<div class="container mt-5">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h2>File Upload</h2>
            </div>
            <div class="card-body">
                <div class="example-container">
                    <form novalidate enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="mb-3">
                                <input type="file" placeholder="Single Upload" id="image" #imageInputFile
                                    (change)="onFileChange($event)" accept="image/*">
                            </div>
                        </div>
                        <div class="form-group">
                            @if (image) {
                            <div>
                                <img class="image-thumbnail" style="max-width: 100px" [src]="imageMin">
                            </div>
                            }
                        </div>
                        <div class="form-group d-flex justify-content-between my-3">
                            <button (click)="onUpload($event)" type="submit" class="btn btn-outline-dark"
                                [disabled]="!image"><i class="fas fa-upload"></i>
                                Upload</button>
                            <button class="btn btn-outline-danger" (click)="reset()"><i class="fas fa-sync-alt"></i>
                                Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        @for (image of images; track image) {
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="{{image.imageUrl}}" class="card-img-top" alt="Image 1" height="175px">
                <div class="card-body">
                    <h4 class="card-title">{{image.name}}</h4>
                    <button class="btn btn-danger" (click)="deleteImage(image.id)">Delete</button>
                </div>
            </div>
        </div>
        }

        <!-- to do :: composant à virer -->
    </div>
</div>
<ng-template #noImagesFound>
    <div class="col-xs-12">
        <p>No images found.</p>
    </div>
</ng-template>