@import 'color-variables';

.active-icon {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: $primary;
}

/*-----------------------------------------------------------------------*/

// Mobile version

#desktop-navbar {
  display: none;
}

// Header

// background
.background {
  position: absolute;
  width: 100%;
  height: 121px;
  background-color: $tertiary;
}

.mobile-curved-background {
  position: absolute;
  background-color: $tertiary;
  width: 101%;
  height: 193px;
  left: -5%;
  transform: rotate(-16deg);
  border-bottom-left-radius: 575px 427px;
  border-bottom-right-radius: 372px 18px;
}

@media (max-width: 375px) {
  .mobile-curved-background {
    width: 99%;
  }

  .background {
    height: 132px;
  }
}

#mobile-top-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

#mobile-bottom-navbar .wave-background {
  background-color:$tertiary;
  width: 100%;
  height: 90px;
  margin-top: 14px;
}

.mobile-wave-navbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 85px;
  z-index: 2;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:$tertiary;
    z-index: -1;
  }

  &::before {
    width: 50%;
    height: 79px;
    right: -4px;
    transform: rotate(-8deg);
    border-top-right-radius: 542px 18px;
  }

  &::after {
    width: 50%;
    height: 88%;
    left: -1%;
    transform: rotate(8deg);
    border-top-left-radius: 542px 18px;
  }
}

#mobile-bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  z-index: 3;
}

#mobile-navbar-icons {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 12px;
  z-index: 3;
}

ul#mobile-navbar-icons {
  list-style-type: none;
  padding-left: 0;
}

.icon {
  width: 29px;
  margin-bottom: 3px;
}

#mobile-account-icon {
  width: 27px;
  margin-top: -1px;
}

#mobile-sell-icon {
  margin-top: -10px;
  color: $primary;
}

.navbar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

// Account Menu
#account-menu {
  position: fixed;
  background-color: $tertiary;
  height: 264vh;
  width: 100%;
  z-index: 4;
  top: 0;
  overflow-y: auto;
}

#account-menu-close {
  position: absolute;
  top: 1%;
  right: 11%;
  text-decoration: none;
}

#mobile-account-menu-logo {
  justify-content: center;
  width: 100%;
  padding-top: 10%;
}

#account-menu-items-wrapper {
  height: 84vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: $tertiary;
}

#account-menu-items {
  height: 100%;
}

.account-menu-item {
  color: black;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
    &:active {
      color: $primary;
  }
}

#account-menu-separator {
  display: flex;
  width: 100%;
  justify-content: center;
}

#account-menu-line {
  border: 2px solid $secondary;
  width: 90%;
}

@media (min-width: 460px) {
  .mobile-curved-background {
    display: none;
  }

  .mobile-wave-navbar {
    height: 90px;
  }

  .background {
    height: 184px;
  }
}

@media (min-width: 928px) {
  #mobile-sell-icon {
    margin-top: 0px;
  }
}

/*-----------------------------------------------------------------------*/

// Desktop version

#desktop-navbar-display {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 178px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

#desktop-sell-icon {
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

#desktop-logo {
  display: flex;
}

#desktop-navbar-icons {
  display: flex;
  width: 33%;
  justify-content: space-around;
}

ul#desktop-navbar-icons {
  list-style-type: none;
  padding-left: 0;
}

.desktop-navbar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#desktop-account-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  padding-left: 45px;
}

@media (min-width: 1158px) {
  #mobile-navbar,  #mobileNavbarMenu, #account-menu {
    display: none;
  }

  #desktop-navbar {
    display: block;
  }

 // background

.left-curved-background {
  position: absolute;
  background-color: white;
  width: 90%;
  height: 65%;
  bottom: -45%;
  left: -27%;
  transform: rotate(-6deg);
  border-top-left-radius: 830px 105px;
  border-top-right-radius: 877px 104px;
  z-index: 3;
}

  .right-curved-background {
  position: absolute;
  background-color: white;
  bottom: -17%;
  left: 34%;
  width: 65.7%;
  height: 57%;
  transform: rotate(6deg);
  z-index: 3;
  border-top-left-radius: 942px 105px;
}

.fix {
  position: absolute;
  width: 10px;
  height: 57%;
  bottom: -44%;
  transform: rotate(6deg);
  Right: 0;
  background-color:white;
  z-index: 3;
}

  // Account Menu
  #dropdown-content {
    position: absolute;
    background-color: $tertiary;
    min-width: 160px;
    z-index: 3;
    text-align: center;
    border-radius: 0px 0px 25px 10px;
    list-style-type: none;
  }

  #dropdown-content a {
    display: block;
  }

  #dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding:0;
  }

  .navbar-icon {
    padding-left: 11px;
  }

  .account-menu-item {
    font-size: 16px;
    padding: 16px;

    &:hover {
      color: $primary;
    }
  }

  #logout {
    padding-bottom: 25px
  }
}

@media (min-width: 1500px) {

  #desktop-navbar-display {
    height: 166px;
  }

  .left-curved-background {
    left: -30%;
  }

  .right-curved-background {
    bottom: -19%;
  }

  .fix {
    bottom: -54%;
  }
}

@media (min-width: 1941px) {
  .left-curved-background, .right-curved-background, .fix {
    display: none;
  }

  #desktop-navbar-display {
    height: 245px;
  }
}
