<div class="custom-container">
  <h2 class="bold-title-700 text-center mb-5">Créer mon compte</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <app-profile-picture
      (uploadSuccess)="profilePictureUpload('uploadSuccess')"
      (thumbnailGenerated)="profilePictureUpload('thumbnailGenerated')"
      (fileRemoved)="profilePictureUpload('fileRemoved')"
      [isFormSubmitted]="isSubmitted">
    </app-profile-picture>

    <div class="row justify-content-center mt-3">
      <div class="col-10 col-md-4">
        <label for="alias">Mon pseudo</label>
        <input type="text" formControlName="alias" id="alias" name="alias" class="form-control"
        minlength="3" maxlength="30" required/>
        @if (profileForm.get('alias')?.errors && (profileForm.get('alias')?.dirty
        || profileForm.get('alias')?.touched)) {
          <div class="error-msg mt-3">
            <div [hidden]="!profileForm.get('alias')?.errors?.['required']">
              Veuillez renseigner votre pseudo
            </div>
            <div [hidden]="!profileForm.get('alias')?.errors?.['minlength']">
              Votre pseudo ne doit pas dépasser 3 caractères
            </div>
            <div [hidden]="!profileForm.get('alias')?.errors?.['maxlength']">
              Votre pseudo doit comporter au moins 30 caractères
            </div>
            <div [hidden]="!profileForm.get('alias')?.errors?.['aliasExists']">
              Ce pseudo existe déjà</div>
          </div>
        }
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-12 col-md-6 mt-4">
        <label for="bio" class="form-label">Ma présentation</label>
        <textarea formControlName="bio" class="form-control form-control-sm" name="bio" id="bio"
          rows="3" minlength="10" maxlength="600">
        </textarea>
      </div>
      @if (profileForm.get('bio')?.errors && (profileForm.get('bio')?.dirty
      || profileForm.get('bio')?.touched)) {
        <div class="error-msg text-center mt-3">
          <div [hidden]="!profileForm.get('bio')?.errors?.['minlength']">
            Votre présentation doit comporter au moins 10 caractères
          </div>
          <div [hidden]="!profileForm.get('bio')?.errors?.['maxlength']">
            Votre présentation ne doit pas dépasser 600 caractères
          </div>
        </div>
      }
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <h3 class="bold-title-700 mt-5">Mon adresse</h3>
      </div>
    </div>
    <div formGroupName="address" id="address">
      <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-8">
          <label for="street">Rue</label>
          <mapbox-address-autofill>
            <input type="text" formControlName="street" autocomplete="address-line1" id="street" name="street" class="form-control"
            placeholder="Numéro et nom de rue" required/>
          </mapbox-address-autofill>
          @if (profileForm.get('address')?.get('street')?.errors && (profileForm.get('address')?.get('street')?.dirty
          || profileForm.get('address')?.get('street')?.touched)) {
            <div class="error-msg mt-2">Veuillez renseigner votre rue</div>
          }
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-6 col-md-4">
          <label for="postal-code">Code postal</label>
          <input type="text" formControlName="postalCode" autocomplete="postal-code" id="postal-code" name="postal-code"
          class="form-control" required/>
          @if (profileForm.get('address')?.get('postalCode')?.errors && (profileForm.get('address')?.get('postalCode')?.dirty
          || profileForm.get('address')?.get('postalCode')?.touched)) {
            <div class="error-msg mt-2">
              <div [hidden]="!profileForm.get('address')?.get('postalCode')?.errors?.['maxlength']">
                Veuillez renseigner un code postal valide
              </div>
              <div [hidden]="!profileForm.get('address')?.get('postalCode')?.errors?.['required']">
                Veuillez renseigner votre code postal
              </div>
            </div>
          }
        </div>
        <div class="col-6 col-md-4">
          <label for="city">Ville</label>
          <input type="text" formControlName="city" autocomplete="address-level2" id="city" name="city"
          class="form-control" required/>
          @if (profileForm.get('address')?.get('city')?.errors && (profileForm.get('address')?.get('city')?.dirty
          || profileForm.get('address')?.get('city')?.touched)) {
            <div class="error-msg mt-2">Veuillez renseigner votre ville</div>
          }
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <h3 class="mt-5 bold-title-700">Mes lieux de RDV préférés</h3>
      </div>
    </div>
    <app-meeting-place-form (addPreferredMeetingPlaces)="getUserPreferredMeetingPlaces($event)"></app-meeting-place-form>

    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <h3 class="my-5 bold-title-700">Mes disponibilités</h3>
      </div>
    </div>
    <app-schedule [editMode]="scheduleEditMode" (addPreferredSchedules)="getUserPreferredSchedules($event)"></app-schedule>
    @if (profileForm.valid && preferredSchedules.length === 0) {
      <div class="error-msg">Veuillez renseigner au moins un créneau horaire auquel vous êtes disponible</div>
    }

    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <h3 class="my-5 bold-title-700 text-left">Mes informations bancaires</h3>
      </div>
    </div>
    <app-bank-account-form></app-bank-account-form>


    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <h3 class="my-5 bold-title-700 text-left">Mes notifications</h3>
      </div>
    </div>
    <app-notifications (addNotifications)="getUserNotificationsPreferrences($event)"></app-notifications>

    <div class="d-grid gap-md-5 d-md-flex justify-content-center my-5">
      <button type="button" class="btn-secondary mt-4" (click)="goBack()">annuler</button>
      <button type="submit" class="btn-primary mt-4" [disabled]="isFormValid()">sauvegarder</button>
    </div>
  </form>
</div>
@if (showErrorAlert) {
  <div class="d-flex justify-content-center">
    <div class="alert alert-danger text-center mb-5">
      Une erreur s'est produite, veuillez réessayer plus tard
    </div>
  </div>
}
