.filters-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.resize {
  width: auto;
}

.dropdown-menu {
  position: absolute;
  z-index: 100;
}

.keep-visible {
  display: block;
}

// Desktop display
// I set a higher resolution at which this component's display changes, than the one that's set
// in the header component, because I feel the ads-list component's display transitions smoother at this value
@media (min-width: 981px) {
  .filters-container {
    justify-content: flex-end;
  }
}
