body {
  margin: 0;
}
.bg-navbar {
  width: 100%;

  &.container-nav {
    background: #cff1ef;
    height: 45vh;
    z-index: 0;
  }

  .wave {
    position: absolute;
    height: 450px;
    width: 100%;
    background: var(--adn-color-tertiary);
    bottom: 0;

    &:before {
      width: 64%;
      height: 100%;
      background-color: #fff;
      right: -2.7%;
      top: 75%;
      border-radius: 1026% 493% 1021% 611%;
      transform: translate(-44px, 3px);
    }

    &:after {
      width: 53%;
      height: 100%;
      background-color: #cff1ef;
      left: -19px;
      top: 44%;
      border-radius: 896% 296% 973% 355%;
      transform: translate(30px, -76px);
    }
  }
  .wave:before,
  .wave:after {
    content: "";
    display: block;
    position: absolute;
  }
}

.nav-test {
  z-index: 1001;
  position: relative;
}
