<div class="mobile-inner-curve"></div>
<div class="mobile-curve"></div>

<footer id="footer">
  <div id="text">
    <ul id="titles">
      <li class="text-block">
        <p class="title">À propos de nous</p>
        <a href="#">Nos services</a>
      </li>
      <li class="text-block">
        <p class="title">Découvrir</p>
        <a href="#">Conditions générales de vente</a>
      </li>
      <li class="text-block">
        <p class="title">Nous contacter</p>
        <a href="mailto:contact@adeuxpas.fr">contact&#64;adeuxpas.fr</a>
      </li>
    </ul>

    <ul id="social-networks">
      <li>
        <a href="https://www.facebook.com/A2pas.net/?locale=fr_FR" target="_blank">
          <img
            src="/assets/icons/social-networks/facebook.webp"
            alt="Icône facebook"
            class="social-networks-icon"
          />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/adeuxpas_app/" target="_blank">
          <img
            src="/assets/icons/social-networks/instagram.webp"
            alt="Icône instagram"
            class="social-networks-icon"
          />
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@adeuxpas_app" target="_blank">
          <img
            src="/assets/icons/social-networks/tiktok.webp"
            alt="icône tiktok"
            class="social-networks-icon"
          />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/cooped/about/" target="_blank">
          <img
            src="/assets/icons/social-networks/linkedin.webp"
            alt="Icône Linkedin"
            class="social-networks-icon"
          />
        </a>
      </li>
    </ul>
  </div>
  <section class="desktop-wave-background">
    <!-- <div class="desktop-wave-footer"></div> -->
    <div class="left-curved-background"></div>
    <div class="right-curved-background"></div>
  </section>
  <div class="background"></div>
</footer>
