@import 'color-variables';

// Mobile version
.mobile-inner-curve {
  position: absolute;
  left: 0;
  width: 100%;
  height: 119px;
  margin-top: -1px;
  background-color: white;
  border-radius: 0% 0% 133% 144%;
  z-index: 0;
}

.mobile-curve {
  position: absolute;
  background-color: $tertiary;
  width: 100%;
  height: 600px;
  max-height: 686px;
  z-index: -1;
}

#footer-container {
  padding-top: 8px;
  position: absolute;
  background-color: $tertiary;
  z-index: 1;
}

#text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 137px;
  position: relative;
  z-index: 1001;
}

#titles {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.text-block {
  margin-bottom: 10%;
}

.text-block a {
  margin: 0;
  text-decoration: none;
  color: black;
}

.title {
  font-weight: bold;
}

#social-networks {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.social-networks-icon {
  height: 38px;
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

// Desktop Version
@media (min-width: 1158px) {

  .mobile-inner-curve, .mobile-curve {
    display: none
  }

  #footer-container {
    //padding-top: 80px;
    width: 100%;
    height: 237px;
    //padding-bottom: 28px;
    bottom: 0;
  }


  // .background {
  //   position:absolute;
  //   bottom: 0;
  //   width: 100%;
  //   height: 312px;
  //   background-color: $tertiary;
  //   z-index: -3;
  // }

  .desktop-wave-background {
    position: absolute;
    width: 100%;
    height: 290px;
    top: 0;
    background-color: $tertiary;
    z-index: 0;
  }

  .left-curved-background, .right-curved-background {
    position: absolute;
    background-color: white;
    height: 49%;
  }

  .left-curved-background {
    width: 90%;
    left: -37%;
    bottom: 95%;
    transform: rotate(9deg);
    border-bottom-left-radius: 830px 105px;
    border-bottom-right-radius: 877px 104px;
  }

    .right-curved-background {
    width: 65.7%;
    right: 0;
    //left: 45%;
    bottom: 78%;
    transform: rotate(-8deg);
    border-bottom-left-radius: 942px 105px;
  }

  #text {
    padding-top: 24px;
    margin-top: 0;
  }

  #titles {
    width: 100%;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-evenly;
  }

  .text-block {
    //padding-top: 3%;
    // margin-bottom: 3%;
    margin-bottom: 0;
    padding-bottom: 39px;
  }

  .social-networks-icon {
    height: 37px;
  }

  #social-networks {
    width: 50%;
  }
}

@media (min-width: 1941px) {
  .left-curved-background, .right-curved-background  {
    display: none;
  }
}
