@import 'color-variables';

// Mobile version
.mobile-inner-curve {
  position: absolute;
  left: 0;
  width: 100%;
  height: 119px;
  margin-top: -1px;
  background-color: white;
  border-radius: 0% 0% 133% 144%;
  z-index: 0;
}

.mobile-curve {
  position: absolute;
  background-color: $tertiary;
  width: 100%;
  height: 600px;
  max-height: 686px;
  z-index: -1;
}

#footer {
  padding-top: 8px;
  position: relative;
  z-index: 0;
}

#text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 137px;
}

#titles {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.text-block {
  margin-bottom: 10%;
}

.text-block a {
  margin: 0;
  text-decoration: none;
  color: black;
}

.title {
  font-weight: bold;
}

#social-networks {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.social-networks-icon {
  height: 38px;
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

// Desktop Version
@media (min-width: 1158px) {

  .mobile-inner-curve, .mobile-curve {
    display: none
  }

  #footer {
    padding-top: 198px;
  }

  #text {
    margin-top: 0px;
  }

  #titles {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .text-block {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .social-networks-icon {
    height: 37px;
  }

  #social-networks {
    width: 50%;
  }

  .background {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 312px;
    background-color: $tertiary;
    z-index: -3;
  }

  .desktop-wave-background {
    width: 100%;
    height: 196px;
    margin-top: -191px;
    position: relative;
    z-index: -2;
  }

  .left-curved-background {
    position: absolute;
    background-color: white;
    width: 90%;
    height: 77%;
    left: -34%;
    top: -116%;
    transform: rotate(9deg);
    border-bottom-left-radius: 830px 105px;
    border-bottom-right-radius: 877px 104px;
    z-index: 3;
  }

    .right-curved-background {
    position: absolute;
    background-color: white;
    right: 4.9px;
    width: 65.7%;
    height: 73%;
    top: -87%;
    transform: rotate(-8deg);
    z-index: 3;
    border-bottom-left-radius: 942px 105px;
  }
}

@media (min-width: 1941px) {
  .left-curved-background, .right-curved-background  {
    display: none;
  }


}
