<div class="mobile-inner-curve"></div>
<div class="mobile-curve"></div>
<!-- <div class="inner-curve-2"></div> -->

<section class="container">
  <div class="wave"></div>
</section>

<div id="footer">
  <div id="text">
    <div id="titles">
      <div class="text-block">
        <p class="title">À propos de nous</p>
        <a href="#">Nos services</a>
      </div>
      <div class="text-block">
        <p class="title">Découvrir</p>
        <a href="#">Conditions générales de vente</a>
      </div>
      <div class="text-block">
        <p class="title">Nous contacter</p>
        <a href="mailto:contact@adeuxpas.fr">contact&#64;adeuxpas.fr</a>
      </div>
    </div>

    <div id="social-networks">
      <a href="https://www.facebook.com/A2pas.net/?locale=fr_FR" target="_blank">
        <img
          src="/assets/icons/social-networks/facebook.webp"
          alt="Icône facebook"
          class="social-networks-icon"
        />
      </a>
      <a href="https://www.instagram.com/adeuxpas_app/" target="_blank">
        <img
          src="/assets/icons/social-networks/instagram.webp"
          alt="Icône instagram"
          class="social-networks-icon"
        />
      </a>
      <a href="https://www.tiktok.com/@adeuxpas_app" target="_blank">
        <img
          src="/assets/icons/social-networks/tiktok.webp"
          alt="icône tiktok"
          class="social-networks-icon"
        />
      </a>
      <a href="https://www.linkedin.com/company/cooped/about/" target="_blank">
        <img
          src="/assets/icons/social-networks/linkedin.webp"
          alt="Icône Linkedin"
          class="social-networks-icon"
        />
      </a>
    </div>
  </div>
</div>
