<h2 class="bold-title-700 text-center">Créer mon compte</h2>

<form [formGroup]="profileForm" class="custom-container" (ngSubmit)="onSubmit()">
    <div class="row my-3 mt-5">
      <div class="col">
        <label for="profile-picture">ajouter une photo
          <input type="file" formControlName="profilePicture" id="profile-picture" name="profile-picture" accept="image/jpeg, image/jpg, image/png, image/svg, image/webp" required/>
        </label>
      </div>
      @if (profileForm.controls['profilePicture'].errors && profileForm.controls['profilePicture'].touched) {
        <div class="error-msg">Veuillez ajouter une photo de profil pour que les autres utilisateurs puissent vous reconnaître lors des rdv</div>
      }
    </div>
    <div class="row my-3 mt-5">
      <div class="col-4">
        <label for="alias">Mon pseudo</label>
        <input type="text" formControlName="alias" id="alias" name="alias" class="form-control" minlength="3" required/>
      </div>
      @if (profileForm.controls['alias'].errors && profileForm.controls['alias'].touched) {
        <div [hidden]="!profileForm.controls['alias'].errors['required']" class="error-msg">Veuillez renseigner votre pseudo</div>
        <div [hidden]="!profileForm.controls['alias'].errors['minlength']" class="error-msg">Votre pseudo doit comporter au moins 3 caractères</div>
      }
      <!-- TO DO : ajouter vérification back pour checker que le pseudo n'existe pas déjà -->
    </div>
    <div class="row my-3">
      <div class="col-6 mt-4">
        <label for="bio" class="form-label">Ma présentation</label>
        <textarea formControlName="bio" class="form-control form-control-sm" name="bio" id="bio" rows="3" minlength="10"></textarea>
      </div>
      @if (profileForm.controls['bio'].errors && profileForm.controls['bio'].touched) {
        <div class="error-msg">Votre présentation doit comporter au moins 10 caractères</div>
      }
    </div>

  <h3 class="mt-5 bold-title-700 text-left">Mon adresse</h3>
  <div formGroupName="address" id="address">
    <div class="row my-3 mt-5">
      <div class="col-8">
        <label for="street">Rue</label>
        <mapbox-address-autofill>
          <input type="text" formControlName="street" autocomplete="address-line1" id="street" name="street" class="form-control" placeholder="Numéro et nom de rue" required/>
        </mapbox-address-autofill>
        </div>
      @if (profileForm.controls['address'].get('street')?.errors && profileForm.controls['address'].get('street')?.touched) {
        <div class="error-msg">Veuillez renseigner votre rue</div>
      }
    </div>
    <div class="row my-3 mt-5">
      <div class="col-4">
        <label for="postal-code">Code postal</label>
        <input type="text" formControlName="postalCode" autocomplete="postal-code" id="postal-code" name="postal-code" class="form-control" required/>
        @if (profileForm.controls['address'].get('postalCode')?.errors && profileForm.controls['address'].get('postalCode')?.touched) {
          <div class="error-msg">Veuillez renseigner votre code postal</div>
        }
      </div>
      <div class="col-4">
        <label for="city">Ville</label>
        <input type="text" formControlName="city" autocomplete="address-level2" id="city" name="city" class="form-control" required/>
        @if (profileForm.controls['address'].get('city')?.errors && profileForm.controls['address'].get('city')?.touched) {
          <div class="error-msg">Veuillez renseigner votre ville</div>
        }
      </div>
    </div>
  </div>

  <h3 class="mt-5 bold-title-700 text-left">Mes lieux de RDV préférés</h3>

  @for (favoriteMeetingPlace of favoriteMeetingPlaces; track favoriteMeetingPlace.name; let i = $index) {
    <address class="meeting-place">
      <!-- Address number -->
      <strong class="number">{{ i + 1 }}</strong>
      <!-- Address name -->
      <strong class="address-name">{{ favoriteMeetingPlace.name }}</strong>
      <!-- Address details -->
      <div class="address-detail">
        {{ favoriteMeetingPlace.street }}<br>
        {{ favoriteMeetingPlace.postalCode }} {{ favoriteMeetingPlace.city | titlecase }}
      </div>
    </address>
      <a type="button" id="remove-address-icon" (click)="deleteFavoriteMeetingPlace(i)">
        <img class="remove-icon" src="assets/icons/buttons/remove-grey.webp" alt="icône supprimer">
      </a>
  }

  <div formArrayName="favoriteMeetingPlaces" id="favorite-meeting-places">
    @for (meetingPlaceForm of favoriteMeetingPlaceForms.controls; track meetingPlaceForm; let i = $index) {
      @if (meetingPlaceForm) {
        <strong class="number">{{ favoriteMeetingPlaces.length + 1 }}</strong>
        <div [formGroupName]="i" class="favorite-meeting-place">
          <div class="row my-3 mt-5">
            <div class="col-8">
              <label for="name">Nom</label>
              <input type="text" formControlName="name" id="name" name="name" class="form-control" placeholder="Nom du lieu" required/>
              @if (meetingPlaceForm.get('name')?.errors && meetingPlaceForm.get('name')?.touched) {
                <div class="error-msg">Veuillez renseigner un nom de lieu</div>
              }
            </div>
          </div>
          <div class="row my-3 mt-5">
            <div class="col-8">
              <label for="street">Rue</label>
              <mapbox-address-autofill>
                <input type="text" formControlName="street" autocomplete="address-line1" id="street" name="street" class="form-control" placeholder="Numéro et nom de rue"/>
              </mapbox-address-autofill>
              @if (meetingPlaceForm.get('street')?.errors && meetingPlaceForm.get('street')?.touched) {
                <div class="error-msg">Veuillez renseigner une rue</div>
              }
            </div>
          </div>
          <div class="row my-3 mt-5">
            <div class="col-4">
              <label for="postal-code">Code postal</label>
              <input type="text" formControlName="postalCode" autocomplete="postal-code" id="postal-code" name="postal-code" class="form-control"/>
              @if (meetingPlaceForm.get('postalCode')?.errors && meetingPlaceForm.get('postalCode')?.touched) {
                <div class="error-msg">Veuillez renseigner un code postal</div>
              }
            </div>
            <div class="col-4">
              <label for="city">Ville</label>
              <input type="text" formControlName="city" autocomplete="address-level2" id="city" name="city" class="form-control" required/>
              @if(meetingPlaceForm.get('city')?.errors && meetingPlaceForm.get('city')?.touched) {
                <div class="error-msg">Veuillez renseigner un code postal</div>
              }
            </div>
          </div>
        </div>
        @if (favoriteMeetingPlaces.length > 0) {
          <a type="button" id="remove-form-icon" (click)="deleteMeetingPlaceForm(i)">
            <img class="remove-icon" src="assets/icons/buttons/remove-grey.webp" alt="icône supprimer">
          </a>
        }
      }
    } @empty {
        @if (favoriteMeetingPlaces.length < 5) {
          <a type="button" id="add-form-icon" (click)="addMeetingPlaceForm()">
            <img class="add-icon" src="assets/icons/buttons/add-orange.webp" alt="icône ajout">
            <p class="add-text">ajouter un lieu</p>
          </a>
        }
    }
    @if (favoriteMeetingPlaceForms.length > 0) {
      <a type="button" id="add-address-icon" (click)="addFavoriteMeetingPlace()">
        <img class="add-icon" src="assets/icons/buttons/add-orange.webp" alt="icône ajout">
        <p class="add-text">ajouter un lieu</p>
      </a>
        @if (isAddButtonClicked && favoriteMeetingPlaceForms.invalid && favoriteMeetingPlaces.length <= 0) {
          <div class="error-msg">Veuillez renseigner au moins une adresse</div>
        }
      }
  </div>

  <h3 class="mt-5 bold-title-700 text-left">Mes disponibilités</h3>

  <h3 class="mt-5 bold-title-700 text-left">Mes informations bancaires</h3>

  <h3 class="mt-5 bold-title-700 text-left">Mes notifications</h3>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>
