<div class="modal-content">
  <section class="container">
    <div class="wave"></div>
  </section>
  <button
    type="button"
    class="btn-close align-self-end m-4"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span class="close">x</span>
  </button>
  <div class="modal-header justify-content-center">
    <div class="d-inline-flex">
      <span class="mobile-logo align-self-center">A DEUX PAS</span>
      <img
        class="mobile-footsteps"
        src="/assets/icons/mobile-footsteps.webp"
        alt="icône de traces de pas"
      />
    </div>
  </div>
  <div class="modal-btn">
    <button
      type="button"
      class="btn toggle connection"
      (click)="showLoginForm()"
      [class.active]="isLoginFormVisible"
    >
      Se connecter
    </button>

    <button
      type="button"
      class="btn toggle"
      (click)="showRegisterForm()"
      [class.active]="!isLoginFormVisible"
    >
      S'inscrire
    </button>
  </div>
  <div class="modal-body">
    <ng-container>
      @if(isLoginFormVisible) {
        <app-login-form (formSubmitted)="isFormSubmitted($event)"></app-login-form>
      }
      @if(!isLoginFormVisible) {
        <app-register-form (formSubmitted)="isFormSubmitted($event)"></app-register-form>
      }
    </ng-container>
  </div>
  <div class="social-networks-modal">
    <p>Autres options de connexion</p>
    <a href="#"
      ><img
        src="/assets/icons/social-networks/facebook-login.webp"
        alt="facebook"
    /></a>
    <a href="#"
      ><img
        src="/assets/icons/social-networks/google.webp"
        alt="google"
    /></a>
    <a href="#"
      ><img
        src="/assets/icons/social-networks/apple.webp"
        alt="apple"
    /></a>
  </div>
</div>

