@if (sellers.length < 4) {
  <div class="row mx-3">
    @for (seller of sellers; track seller) {
    <!-- TODO: ajouter le lien vers le profil du vendeur -->
      <a class="col-6 col-sm-6 col-md-4 mt-4" href="">
        <p id="seller-alias">{{ seller.alias }}</p>
        <p class="fw-bold">{{ seller.city }}</p>
        <p>{{ seller.salesNumber }} ventes </p>
      </a>
    }
  </div>
} @else {
  <div class="row mx-3" id="sellers">
    @for (seller of sellers; track seller) {
      <!-- TODO: ajouter le lien vers le profil du vendeur -->
      <a class="col-6 col-sm-4 col-md-2 mt-4" href="">
        <p id="seller-alias">{{ seller.alias }}</p>
        <p class="fw-bold">{{ seller.city }}</p>
        <p>{{ seller.salesNumber }} ventes </p>
      </a>
    }
  </div>
}

