<div class="container-fluid py-3">
<h1 class="mt-4">Bonjour Erika !</h1>
<h2 class="mt-4">Ma présentation</h2>
<p class="mt-4">Passionnée de mode, je vends mes vêtements pour permettre aux plus grand nombre d’être stylé.</p>
<h3 class="mt-4">Mon adresse</h3>
  <div class="row my-3">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <button class="btn btn-sm btn-outline-primary" (click)="open(demoModal)">Launch demo modal</button>
    </div>
  </div>
</div>

<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" name="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp="ngbDatepicker">
          <button type="button" class="btn btn-outline-secondary bi bi-calendar" (click)="dp.toggle()"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<div class="divTitle mb-4">Les boutons</div>

<button type="submit" class="btn-primary mb-2">  PrimaryBtn</button>

<button type="submit" class="btn-secondary mb-2">OtherBtn</button>

<button type="submit" class="btn-info mb-2">voir plus<img class="arrowIconInBtn" src="../../assets/icons/arrow-down-in-icon.webp" alt="arrowDown"></button>

<button type="submit" class="btn-sell mb-2"><img class="whiteplus" src="../../assets/icons/white-plus.webp" alt="whitePlus">Creer une annonce</button>

<button type="submit" class="btn-connexion mb-2">se connecter</button>

<div class="divTitle mb-4">Input - select</div>

<input class="mb-2" type="text"><br>
<!-- 
CHANGE SELECT OPTION BG COLOR 
space between arrow and right limitation-->

<select class="mt-2 mb-2 formSelect" name="" id="">
    <option class="inFormSelect" value="">option 1</option>
    <option class="inFormSelect" value="">option 2</option>
    <option class="inFormSelect" value="">option 3</option>
</select>

<select name="" id="" class="toFilter mt-2 mb-2">
    <option selected disabled hidden value="">statut</option>
    <option value="">option 1</option>
    <option value="">option 2</option>
    <option value="">option 3</option>
</select>

<div class="divTitle mb-4">Radiobox - checkbox</div>

  <div>
    <input type="radio" id="2" name="2" checked />
    <label for="2">Neuf sans étiquette</label>
  </div>

  <div>
    <input type="radio" id="1" name="1" />
    <label for="1">Neuf avec étiquette</label>
  </div>

  <div>
    <input type="checkbox" id="3" name="3" checked />
    <label for="3">Neuf sans étiquette</label>
  </div>

  <div>
    <input type="checkbox" id="4" name="4" />
    <label for="4">Neuf avec étiquette</label>
  </div>



