#edit-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

#profil-page h2 {
  text-align: center;
}

// tablet and desktop version
@media (min-width: 768px) {

  #profil-page h2 {
    text-align: left;
  }
}
