<app-header></app-header>
<section id="home-body">
  <app-categories></app-categories>
  <h1 class="section-title"><b>Les dernières annonces</b></h1>

  <app-ad-filters [uniqueCitiesAndPostalCodes]="uniqueCitiesAndPostalCodes" [(pageNumber)]="pageNumber"
    [(displayedAds)]="displayedAds" (filtersUpdated)="receiveUpdatedFilters($event)"></app-ad-filters>
  <div class="mx-auto">
    <app-ad-list [displayedAds]="displayedAds" [noMoreAds]="noMoreAds" (loadMore)="loadMoreAds()"></app-ad-list>
  </div>

</section>