#home-body {
  padding: 0 6%;
}

@media (min-width: 1250px) {
  #home-body {
    padding: 0;
    margin-left: 126px;
    margin-right: 3%;
  }
}

.section-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 1.25rem;
}

// Desktop display
@media (min-width: 892px) {
  .section-title {
    text-align: left;
    font-size: 2.22rem;
  }
}
