<section id="categories-section">
  <h1 id="categories-title">Les catégories</h1>
  <div id="all-categories">
    <div class="category">
      <h2>Mode</h2>
      <p>
        Tombez sur l’ex veste préférée de Donia ou sur les chaussures trop
        petites de Mircea, chargées de souvenirs.
      </p>
    </div>
    <div class="category" id="home">
      <h2>Maison</h2>
      <p>
        Dénichez des pièces uniques comme la table de la famille d’Erika,
        témoin de repas partagés et de moments précieux.
      </p>
    </div>
    <div class="category" id="leisure">
      <h2>Loisirs</h2>
      <p>
        Découvrez le dernier livre captivant lu par Léa ou le vélo de Thomas,
        qui vous inciteront à explorer de nouveaux horizons.
      </p>
    </div>
    <div class="category" id="electronic">
      <h2>Électronique</h2>
      <p>
        Repérez la caméra de voyage de Julien, prête à être le témoin de
        nouvelles aventures.
      </p>
    </div>
  </div>
</section>
