<section class="my-ad-cta-encart flex-row  text-center" [ngClass]="{'mx-auto': !isBigScreen}">
    @switch (myAd?.status) {
    @case('AVAILABLE') {
    <b>En vente</b>
    }
    @case('RESERVED') {
    <b>Reservé</b>
    }
    @case('SOLD') {
    <b>Vendu</b>
    }
    @case('SUSPENDED') {
    <b>Suspendu</b>
    }
    }
    <div class="favorites mt-2">
        <img id="favorite-icon" src="assets/icons/navbar/favorites.webp" alt="icône favoris">
        <p id="favorite-text">n’a pas encore tapé dans l’oeil d’un membre</p>
    </div>
    <div class="cta-btn-section mt-4 mb-1">
        <div class="flex-column">
            <img class="cta-btn" src="assets/icons/buttons/edit-orange.webp" alt="bouton-modifier-annonce">
            <p class="cta-btn-text">modifier</p>
        </div>
        <div class="flex-column">
            <img class="cta-btn" src="assets/icons/buttons/trash.webp" alt="bouton-supprimer-annonce">
            <p class="cta-btn-text">supprimer</p>
        </div>
    </div>
</section>


<section class="cta-section flex-row  text-center" [ngClass]="{'mx-auto': !isBigScreen}">
    <div class="main-actions">
        <div class="flex-column">
            <img class="cta-btn-seller-ad" src="assets/icons/buttons/buy.webp" alt="bouton acheter l'article">
            <p class="cta-btn-text">acheter</p>
        </div>
        <div class="flex-column">
            <img class="cta-btn-seller-ad" src="assets/icons/buttons/offer.webp" alt="bouton faire une offre">
            <p class="cta-btn-text">faire une offre</p>
        </div>
        <div class="flex-column">
            <img class="cta-btn-seller-ad" src="assets/icons/buttons/add-to-favorites.webp"
                alt="bouton ajouter aux favoris">
            <p class="cta-btn-text">favoris</p>
        </div>
    </div>
    <div class="seller-ad-cta-encart">
        <div class="publisher-contact">
            <p id="publisher-name">Anna B</p>
            <img class="cta-btn-contact-seller" src="assets/icons/buttons/arrow-right.webp"
                alt="bouton pour acceder aux profil du vendeur">
        </div>
        <div class="publisher-info mt-4 mb-1">
            <div class="flex-column">
                <p>Epinay-sur-seine</p>
                <p>Membre depuis le 21/08/20</p>
            </div>
        </div>
        <div class="flex-column">
            <img id="cta-btn-contact" src="assets/icons/buttons/message.webp" alt="bouton pour contacter le vendeur">
            <p class="cta-btn-text">contacter</p>
        </div>
    </div>
</section>