<section class="my-ad-cta-encart flex-row  text-center" [ngClass]="{'mx-auto': !isBigScreen}">
    @switch (myAd?.status) {
    @case('AVAILABLE') {
    <b>En vente</b>
    }
    @case('RESERVED') {
    <b>Reservé</b>
    }
    @case('SOLD') {
    <b>Vendu</b>
    }
    @case('SUSPENDED') {
    <b>Suspendu</b>
    }
    }
    <div class="favorites mt-2">
        <img id="favorite-icon" class="btn-cta" src="assets/icons/navbar/favorites.webp" alt="icône favoris">
        <p id="favorite-text">n’a pas encore tapé dans l’oeil d’un membre</p>
    </div>
    <div class="cta-btn-section mt-4 mb-1">
        <div class="flex-column">
            <img class="cta-btn btn-cta" src="assets/icons/buttons/edit-orange.webp" alt="bouton-modifier-annonce">
            <p class="cta-btn-text">modifier</p>
        </div>
        <div class="flex-column">
            <img class="cta-btn btn-cta" src="assets/icons/buttons/trash.webp" alt="bouton-supprimer-annonce">
            <p class="cta-btn-text">supprimer</p>
        </div>
    </div>
</section>