<div class="row">
    <div class="col-10">
    <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="col-2">
      <!-- Edit button -->
      <a class="btn-icon">
        <img class="edit-icon" src="/assets/icons/buttons/edit-orange.webp" alt="icône crayon">
        <span>modifier</span>
      </a>
      <!-- Save button
      <a class="btn-icon mt-4 mb-4">
        <img class="save-icon" src="/assets/icons/buttons/save.webp" alt="icône disquette">
        <span>mettre à jour</span>
      </a>-->
    </div>
