<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="meeting-details-container">
    <div class="calendars-container">
      <app-date-picker
        (dateSelected)="onDateSelected($event)"
        [sellerPreferredSchedules]="preferredSchedules"
        formControlName="selectedDate"
      ></app-date-picker>
      <div class="interval-picker-container">
        <app-time-interval-picker
          (timeSelected)="onTimeSelected($event)"
          [sellerPreferredSchedules]="preferredSchedules"
          [selectedDate]="selectedDate"
          formControlName="selectedTime"
        ></app-time-interval-picker>
        @if (form.get('selectedTime')?.errors) {
        <div class="error-msg mt-2">Veuillez sélectionner un créneau</div>
        }
      </div>
    </div>

    <div class="row row-gap-3 justify-content-center mt-4">
      <div class="textarea-container">
        <label for="meeting place" class="form-label"><b>Lieu du RDV</b></label>
        <ng-select
          formControlName="meetingPlace"
          name="meeting place"
          id="meetingPlace"
          class="custom mt-4"
          placeholder="Sélectionnez un lieu"
        >
          @for (meetingPlace of meetingPlaces; track meetingPlace) {
          <ng-option [value]="meetingPlace">{{ meetingPlace.name }}</ng-option>
          }
        </ng-select>
        @if (form.get('meetingPlace')?.errors &&
        (form.get('meetingPlace')?.dirty || form.get('meetingPlace')?.touched))
        {
        <div class="error-msg mt-2">Veuillez sélectionner un lieu de RDV</div>
        }
      </div>
    </div>

    <div class="distinctive-sign-and-info-container">
      <div class="textarea-container">
        <label for="sign" class="form-label"><b>Signe distinctif </b></label>
        <textarea
          formControlName="sign"
          class="form-control form-control-sm"
          name="sign"
          id="sign"
          rows="3"
          style="width: 25vw"
          placeholder="Indiquez un signe distinctif qui permettra de vous reconnaître le jour J"
        ></textarea>
        @if (form.get('sign')?.errors && (form.get('sign')?.dirty ||
        form.get('sign')?.touched)) {
        <div class="error-msg mt-2">
          <div [hidden]="!form.get('sign')?.errors?.['minlength']">
            Veuillez renseigner au moins 5 caractères
          </div>
          <div [hidden]="!form.get('sign')?.errors?.['maxlength']">
            Veuillez ne pas dépasser les 600 caractères
          </div>
        </div>
        }
      </div>
      <div class="textarea-container">
        <label for="info" class="form-label">
          <b>Informations complémentaires</b></label
        >
        <textarea
          formControlName="info"
          class="form-control form-control-sm"
          name="info"
          id="info"
          rows="3"
          style="width: 25vw"
          placeholder="Indiquez toute autre information que vous trouvez utile à partager"
        ></textarea>
        @if (form.get('info')?.errors && (form.get('info')?.dirty ||
        form.get('info')?.touched)) {
        <div class="error-msg mt-2">
          <div [hidden]="!form.get('info')?.errors?.['minlength']">
            Veuillez renseigner au moins 5 caractères
          </div>
          <div [hidden]="!form.get('info')?.errors?.['maxlength']">
            Veuillez ne pas dépasser les 600 caractères
          </div>
        </div>
        }
      </div>
    </div>

    <div class="terms-container">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="terms"
          id="terms"
          value=""
          name="terms"
        />
        <label class="form-check-label" for="terms">
          <p>
            Une fois le RDV fixé, je m'engage à m'y rendre ou à prévenir le
            vendeur <b>au plus tard 24h avant</b>
          </p>
        </label>
      </div>
      <button type="submit" class="btn-primary mt-4" [disabled]="!form.valid">
        proposer le RDV
      </button>
    </div>
  </section>
</form>
