<div formGroupName="bankAccount" id="bank-account">
  <div class="row my-3 mt-5">
    <div class="col-8">
      <label for="account-holder">Nom du titulaire du compte</label>
      <input type="text" class="form-control" name="account-holder" id="account-holder" formControlName="accountHolder" required />
    </div>
    @if(bankAccountFormGroup.get('accountHolder')?.invalid && (bankAccountFormGroup.get('accountHolder')?.dirty || bankAccountFormGroup.get('accountHolder')?.touched)) {
      <div class="error-msg">Veuillez renseigner le nom du titulaire du compte</div>
    }
  </div>
  <div class="row my-3 mt-5">
    <div class="col-8">
      <label for="account-number">IBAN</label>
      <input type="text" class="form-control" name="account-number" id="account-number" placeholder="FRXXXXXXXXXXXXXXXXXXXXXXXXX" formControlName="accountNumber" required />
    </div>
    @if(bankAccountFormGroup.get('accountNumber')?.invalid && (bankAccountFormGroup.get('accountNumber')?.dirty || bankAccountFormGroup.get('accountNumber')?.touched)) {
      <div [hidden]="!bankAccountFormGroup.get('accountNumber')?.errors?.['required']" class="error-msg">
        Veuillez renseigner votre IBAN
      </div>
      <div [hidden]="!bankAccountFormGroup.get('accountNumber')?.errors?.['iban']" class="error-msg">
        Veuillez renseigner un IBAN valide
      </div>
    }
  </div>
</div>


