// See more about Bootstrap here : https://getbootstrap.com/docs/5.3/
// see more about ng-bootstrap components here : https://ng-bootstrap.github.io/#/components/

$font-sans-serif: 'Verdana', sans-serif;
$font-family-base: $font-sans-serif;

$h1-font-size: 2.22rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.125rem;

$primary: #FF9F1A;
$secondary: #FFBF6B;
$tertiary:#CFF1EF;
$info: #2EC2B3;

$link-hover-color: #000;

// Desktop version
@media (min-width: 1200px) {

}

@import 'bootstrap/scss/bootstrap';
