<div class="ads-list-and-filters-container">
  <h2><b>Les dernières annonces</b></h2>

  <!--filters component-->
  <app-ad-filters
    [uniqueCitiesAndPostalCodes]="uniqueCitiesAndPostalCodes"
    [(pageNumber)]="pageNumber"
    [(displayedAds)]="displayedAds"
    (filtersUpdated)="receiveUpdatedFilters($event)"
  >
  </app-ad-filters>

  @if(displayedAds && displayedAds.length > 0){
  <div class="ad-list-container">
    <!--ad-card component-->
    @for(ad of displayedAds; track ad){
    <app-ad-card class="item" [ad]="ad"></app-ad-card>
    }
  </div>
  } @if(displayedAds && displayedAds.length > 0 && !noMoreAds){
  <div class="single-button-container">
    <button type="submit" class="btn-info mt-4" (click)="loadMoreAds()">
      voir plus<img
        class="arrow-down-icon"
        src="/assets/icons/buttons/arrow-down.webp"
        alt="icône de flèche vers le bas"
      />
    </button>
  </div>
  } @if(displayedAds.length === 0){
  <div class="no-ads-message">
    <img
      class="desktop-footsteps"
      src="/assets/icons/no-result.webp"
      alt="icône de traces de pas"
    />
    <h2>Désolé, aucun résultat ne correspond à votre recherche</h2>
  </div>
  } @if(noMoreAds){
  <div class="no-ads-message">
    <p><i>Fin des résultats</i></p>
  </div>
  }
</div>
