  <div class="row">
    <!-- First column -->
    <div class="col-md-6">
      <!-- Iterate over addresses for the first column -->
      @for (meetingPlace of preferredMeetingPlaces; track meetingPlace.id; let i = $index) {
        @if (i < 3) {
          <address class="meeting-place">
            <!-- Address number -->
            <strong class="number">{{ i + 1 }}</strong>
            <!-- Address name -->
            <strong class="address-name">{{ preferredMeetingPlaces[i].name }}</strong>
            <!-- Address details -->
            <div class="address-detail">
              {{ preferredMeetingPlaces[i].street }}<br>
              {{ preferredMeetingPlaces[i].postalCode }} {{ preferredMeetingPlaces[i].city | titlecase }}
            </div>
          </address>
        }
      }
    </div>

    <!-- Second column -->
    <div class="col-md-6">
      <!-- Iterate over addresses for the second column -->
      @for (meetingPlace of preferredMeetingPlaces; track meetingPlace.id; let i = $index) {
        @if (i >= 3) {
          <address class="meeting-place">
            <!-- Address number -->
            <strong class="number">{{ i + 1 }}</strong>
            <!-- Address name -->
            <strong class="address-name">{{ preferredMeetingPlaces[i].name }}</strong>
            <!-- Address details -->
            <div class="address-detail">
              {{ preferredMeetingPlaces[i].street }}<br>
              {{ preferredMeetingPlaces[i].postalCode }} {{ preferredMeetingPlaces[i].city | titlecase }}
            </div>
          </address>
        }
      }
    </div>
  </div>
