@import 'color-variables';

// Style for the meeting place number
.meeting-place .number {
  background-color: $info;
  color:white;
  border-radius: 38px;
  padding: 4px 8px;
  font-size: 14px;
  position:relative;
}

// Style for the meeting place address name
.meeting-place .address-name {
  font-weight: 700;
  color: $primary;
  padding-left: 0.5rem;
  position: absolute;
}

.meeting-place.address-detail {
  margin-top: 0.2rem;
  margin-left: 2.2rem;
}

// Media query to manage the address details on mobile screen
  @media (max-width: 500px) {

    .meeting-place .address-detail {
      margin-top: 1.2rem;
    }
}



