@if (adSuccessfullySubmitted) {
<div class="d-flex justify-content-center">
    <div class="alert alert-success text-center mb-5">
        Votre annonce "<strong>{{ currentAd?.title }}</strong>" a bien été créée
    </div>
</div>
}
<div class="custom-container">
    <div class="main-sections mx-auto">

        <!-- image view on desktop device -->
        <section class="article-picture-image-section col-12 col-xxl-8">
            <ng-container *ngIf="articlePictures.length > 1; else singlePicture">
                <div class="split-article-pictures-section">
                    <as-split direction="horizontal">
                        <as-split-area [size]="areaSizeA" #splitAreaA>
                            <as-split direction="vertical">
                                <as-split-area>
                                    <img src="{{ articlePictures[1] }}" alt="{{ currentAd?.title }} 2" />
                                </as-split-area>
                                <ng-container *ngIf="articlePictures[2]">
                                    <as-split-area>
                                        <img src="{{ articlePictures[2] }}" alt="{{ currentAd?.title }} 3" />
                                    </as-split-area>
                                </ng-container>
                            </as-split>
                        </as-split-area>
                        <as-split-area [size]="areaSizeB" #splitAreaB>
                            <as-split direction="horizontal">
                                <as-split-area>
                                    <img src="{{ articlePictures[0] }}" alt="{{ currentAd?.title }} 1" />
                                </as-split-area>
                                <ng-container *ngIf="articlePictures[3]">
                                    <as-split-area>
                                        <img src="{{ articlePictures[3] }}" alt="{{ currentAd?.title }} 4" />
                                    </as-split-area>
                                </ng-container>
                                <ng-container *ngIf="articlePictures[4]">
                                    <as-split-area>
                                        <img src="{{ articlePictures[4] }}" alt="{{ currentAd?.title }} 5" />
                                    </as-split-area>
                                </ng-container>
                            </as-split>
                        </as-split-area>
                    </as-split>
                </div>
            </ng-container>
            <ng-template #singlePicture>
                <img class="single-picture-section mx-auto" src="{{ articlePictures[0] }}"
                    alt="{{ currentAd?.title }} 1" />
            </ng-template>
        </section>

        <!-- image view on mobile device -->
        <section class="article-picture-image-section-mobile mx-auto col-12">
            <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="true" [pauseOnFocus]="true"
                (slide)="onSlide($event)" class="mx-auto">
                <ng-template ngbSlide *ngFor="let articlePicture of articlePictures; let i = index">
                    <div>
                        <img class="img-wrapper" src="{{ articlePicture }}" alt="" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </section>

        <!-- ad's general information section -->
        <section class="general-info mt-3 col-12 col-xxl-6">
            <div class="title-and-price">
                <p id="ad-title"><b>{{ currentAd?.title }}</b></p>
                <p id="ad-price">{{ currentAd?.price }} €</p>
            </div>
            <div class="other-info flex-column">
                <p id="ad-creation-date" class="mt-2">Créée le {{ currentAd?.creationDate }}</p>
                <p id="ad-state" class="mt-2"><b>État {{ currentAd?.articleState }}</b></p>
                <p id="ad-description" class="mt-2">{{ currentAd?.articleDescription }}</p><br>
            </div>
        </section>

        <!-- CTA encart -->
        <section class="cta-encart col-12 col-xxl-4">
            <ng-container *ngIf="onMyAd; else sellerAd">
                <app-cta-my-ad [myAd]="currentAd!"></app-cta-my-ad>
            </ng-container>
            <ng-template #sellerAd>
                <app-cta-seller-ad [myAd]="currentAd"></app-cta-seller-ad>
            </ng-template>
        </section>
    </div>


    <!-- similar ads section -->
    @if (!onMyAd) {
    <section class="mt-5 mb-5 similar-ads-list-section">
        <h3 id="other-ad-section-title" [ngClass]="{'text-center': isBigScreen == false, '': isBigScreen == true}">
            Les annonces similaires
        </h3>
        <div class="similar-ads">
            @for (similarAd of similarAds; track similarAd) {
            <app-ad-card [ad]="similarAd"></app-ad-card>
            }
        </div>
    </section>
    }

    <!-- user's other ads section -->
    <section class="mt-5 mb-5 other-ads-list-section">
        <h3 id="other-ad-section-title" [ngClass]="{'text-center': isBigScreen == false, '': isBigScreen == true}">
            @if (onMyAd) {
            Mes autres annonces
            } @else {
            Les autres annonces de {{ currentAd?.publisherAlias }}
            }
        </h3>
        <div class="user-other-ads">
            @for (otherAd of userOtherAds; track otherAd) {
            <a>
                <app-ad-card [ad]="otherAd"></app-ad-card>
            </a>
            }
        </div>
    </section>
</div>

<!-- See more button -->
@if (!noMoreAds && showSeeMorBtn) {
<button type="submit" class="btn-info mt-4 mx-auto" (click)="loadMoreAds()">voir plus<img class="arrow-down-icon"
        src="/assets/icons/buttons/arrow-down.webp" alt="icône de flèche vers le bas">
</button>
}
@if (noMoreAds) {
<div class="no-ads-message">
    <p><i>Fin des résultats</i></p>
</div>
}